node-red/node_modules/node-red-contrib-loop/examples/01 - Fixed number of loops.json
[{"id":"18a2a8b9.236e9f","type":"file","z":"49d7bdd9.8d19ac","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":610,"y":260,"wires":[["c51606b.d7a79f8"]]},{"id":"c51606b.d7a79f8","type":"loop","z":"49d7bdd9.8d19ac","name":"","kind":"fcnt","count":"9","initial":"1","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"","loopPayload":"loop-orig","finalPayload":"final-last","x":510,"y":180,"wires":[["7df84b78.7d3184"],["81724620.695dd8"]]},{"id":"2ffc3d07.23e6fa","type":"inject","z":"49d7bdd9.8d19ac","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"example file content","payloadType":"str","x":250,"y":180,"wires":[["c51606b.d7a79f8"]]},{"id":"81724620.695dd8","type":"change","z":"49d7bdd9.8d19ac","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"\"file\" & msg.loop.value & \".txt\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":260,"wires":[["18a2a8b9.236e9f"]]},{"id":"7df84b78.7d3184","type":"debug","z":"49d7bdd9.8d19ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"loop","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":180,"wires":[]},{"id":"48299383.1f1fbc","type":"comment","z":"49d7bdd9.8d19ac","name":"Example: Fixed number of passes","info":"","x":270,"y":80,"wires":[]},{"id":"da3f4187.48099","type":"comment","z":"49d7bdd9.8d19ac","name":"Show final status","info":"","x":780,"y":140,"wires":[]},{"id":"7fd4ed0f.7f9544","type":"comment","z":"49d7bdd9.8d19ac","name":"Create file1.txt to file9.tx files","info":"","x":520,"y":140,"wires":[]}]