node-red/node_modules/node-red-contrib-loop/examples/02 - Conditional loop.json
[{"id":"3ba931b1.fb48d6","type":"loop","z":"99ba5eb4.8829d8","name":"","kind":"cond","count":"10","initial":"1","step":"1","condition":"msg.payload.substr(-1) != \"Z\"","conditionType":"js","when":"after","enumeration":"enum","enumerationType":"msg","limit":"","loopPayload":"loop-keep","finalPayload":"final-last","x":480,"y":300,"wires":[["5aef28e.0f9e7d8"],["e88b0e8c.d39858"]]},{"id":"2d297dfa.6e660a","type":"inject","z":"99ba5eb4.8829d8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":250,"y":300,"wires":[["3ba931b1.fb48d6"]]},{"id":"5aef28e.0f9e7d8","type":"debug","z":"99ba5eb4.8829d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"loop","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":300,"wires":[]},{"id":"90c49008.053a58","type":"comment","z":"99ba5eb4.8829d8","name":"Example: Conditional loop","info":"","x":290,"y":200,"wires":[]},{"id":"9a725668.330148","type":"comment","z":"99ba5eb4.8829d8","name":"Show final status","info":"","x":720,"y":260,"wires":[]},{"id":"e88b0e8c.d39858","type":"function","z":"99ba5eb4.8829d8","name":"","func":"// add ASCII char from 32 to 126\nmsg.payload += String.fromCharCode(Math.random()*26 + 65);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":400,"wires":[["66144af4.d1ec9c","9c48f336.471ea"]]},{"id":"9c48f336.471ea","type":"debug","z":"99ba5eb4.8829d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":400,"wires":[]},{"id":"66144af4.d1ec9c","type":"delay","z":"99ba5eb4.8829d8","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":375,"wires":[["3ba931b1.fb48d6"]]},{"id":"75c6b326.e934d4","type":"comment","z":"99ba5eb4.8829d8","name":"Show string","info":"","x":710,"y":440,"wires":[]},{"id":"77ac6763.8e54b8","type":"comment","z":"99ba5eb4.8829d8","name":"Add char to string","info":"","x":350,"y":440,"wires":[]},{"id":"99b265b4.e2d3c8","type":"comment","z":"99ba5eb4.8829d8","name":"Repeat until string doesn't finish with \"Z\"","info":"","x":460,"y":260,"wires":[]}]