node-red/node_modules/node-red-contrib-loop/examples/03 - Iterate over different objects.json
[{"id":"38630ff1.21721","type":"inject","z":"ca656090.59e75","name":"Object","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"first\":\"Hello World\",\"second\":8,\"third\":true}","payloadType":"json","x":440,"y":120,"wires":[["f009e0e9.24576"]]},{"id":"f009e0e9.24576","type":"loop","z":"ca656090.59e75","name":"","kind":"enum","count":"","initial":"","step":"","condition":"","conditionType":"js","when":"before","enumeration":"payload","enumerationType":"msg","limit":"","loopPayload":"loop-index","finalPayload":"final-orig","x":750,"y":200,"wires":[["cf52b6dd.5febb8"],["33031c0e.1b115c"]]},{"id":"cf52b6dd.5febb8","type":"debug","z":"ca656090.59e75","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"loop","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":180,"wires":[]},{"id":"33031c0e.1b115c","type":"change","z":"ca656090.59e75","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$type(msg.loop.key) != \"undefined\" ?\tmsg.loop.key & \": \" & msg.loop.value :\tmsg.loop.value","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":300,"wires":[["f009e0e9.24576","6e593ff2.dc94c"]]},{"id":"b28b06f1.38eb48","type":"inject","z":"ca656090.59e75","name":"Array","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[6,14,36,-8,100]","payloadType":"json","x":410,"y":160,"wires":[["f009e0e9.24576"]]},{"id":"92649c33.cae718","type":"function","z":"ca656090.59e75","name":"","func":"msg.payload = Int16Array.from(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":535,"y":200,"wires":[["f009e0e9.24576"]],"l":false},{"id":"63f4e6c9.273a98","type":"function","z":"ca656090.59e75","name":"","func":"msg.payload = new Map(Object.entries(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":495,"y":280,"wires":[["f009e0e9.24576"]],"l":false},{"id":"fa18bbfe.ed14e","type":"function","z":"ca656090.59e75","name":"","func":"msg.payload = new Set(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":495,"y":320,"wires":[["f009e0e9.24576"]],"l":false},{"id":"3b9ae96f.31334e","type":"inject","z":"ca656090.59e75","name":"String","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello World","payloadType":"str","x":410,"y":240,"wires":[["f009e0e9.24576"]]},{"id":"6e593ff2.dc94c","type":"debug","z":"ca656090.59e75","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":300,"wires":[]},{"id":"3fab47d1.514f48","type":"inject","z":"ca656090.59e75","name":"Typed Array","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[-9,10,-5,1,0,1000]","payloadType":"json","x":430,"y":200,"wires":[["92649c33.cae718"]]},{"id":"cb3e8914.1df83","type":"inject","z":"ca656090.59e75","name":"Map","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"red\":\"#ff0000\",\"green\":\"#00ff00\",\"blue\":\"#0000ff\"}","payloadType":"json","x":410,"y":280,"wires":[["63f4e6c9.273a98"]]},{"id":"851a66b1.29eeb","type":"inject","z":"ca656090.59e75","name":"Set","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[2,3,4,4,2,3,3,4,4,5,5,6,6,7,5,32,3,4,5]","payloadType":"json","x":410,"y":320,"wires":[["fa18bbfe.ed14e"]]},{"id":"ca3531cd.811a28","type":"comment","z":"ca656090.59e75","name":"Generate object","info":"","x":440,"y":80,"wires":[]},{"id":"4bbda96c.3cceb","type":"comment","z":"ca656090.59e75","name":"Example: Iterate over different objects","info":"","x":790,"y":60,"wires":[]},{"id":"affd26fa.6bd458","type":"comment","z":"ca656090.59e75","name":"Show final status","info":"","x":980,"y":140,"wires":[]},{"id":"a2ca65ee.677808","type":"comment","z":"ca656090.59e75","name":"Show loop value","info":"","x":980,"y":260,"wires":[]}]