node-red/node_modules/node-red-contrib-loop/examples/04 - Break and repeat loop.json
[{"id":"6e1118b1.449db8","type":"loop","z":"99ba5eb4.8829d8","name":"","kind":"fcnt","count":"","initial":"0","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"","loopPayload":"loop-val","finalPayload":"final-last","x":610,"y":220,"wires":[["d1a9cb45.00afe"],["c03c9408.ce2758"]]},{"id":"60a8f138.0909a","type":"debug","z":"99ba5eb4.8829d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":400,"wires":[]},{"id":"d1a9cb45.00afe","type":"debug","z":"99ba5eb4.8829d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"loop","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":200,"wires":[]},{"id":"f520d84f.1dd188","type":"inject","z":"99ba5eb4.8829d8","name":"","props":[{"p":"count","v":"1000","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":310,"y":220,"wires":[["6e1118b1.449db8"]]},{"id":"a5d2b10f.5d5808","type":"inject","z":"99ba5eb4.8829d8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"break","payloadType":"str","x":650,"y":120,"wires":[["70a0049a.ff61c4"]]},{"id":"70a0049a.ff61c4","type":"change","z":"99ba5eb4.8829d8","name":"","rules":[{"t":"set","p":"control","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":120,"wires":[[]]},{"id":"d3de2043.825a58","type":"inject","z":"99ba5eb4.8829d8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"restart","payloadType":"str","x":650,"y":160,"wires":[["6c2d5a25.25987c"]]},{"id":"6c2d5a25.25987c","type":"change","z":"99ba5eb4.8829d8","name":"","rules":[{"t":"set","p":"control","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":160,"wires":[[]]},{"id":"c03c9408.ce2758","type":"delay","z":"99ba5eb4.8829d8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":340,"wires":[["30f71e9.67a5fe2","bd58a956.c036b"]]},{"id":"30f71e9.67a5fe2","type":"switch","z":"99ba5eb4.8829d8","name":"","property":"control","propertyType":"flow","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":340,"wires":[["8eef836b.966f1"],["6e1118b1.449db8"]]},{"id":"8eef836b.966f1","type":"change","z":"99ba5eb4.8829d8","name":"","rules":[{"t":"move","p":"control","pt":"flow","to":"command","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":340,"wires":[["6e1118b1.449db8"]]},{"id":"bd58a956.c036b","type":"change","z":"99ba5eb4.8829d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$floor(msg.payload / 10)  & \" \" & $pad(\"\", msg.payload % 10 + 1, \"-\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":400,"wires":[["60a8f138.0909a"]]},{"id":"dc42e7bf.598448","type":"comment","z":"99ba5eb4.8829d8","name":"Example: Break and repeat loop","info":"","x":370,"y":100,"wires":[]},{"id":"702ddab8.07b69c","type":"comment","z":"99ba5eb4.8829d8","name":"External control of loop","info":"","x":700,"y":80,"wires":[]},{"id":"e07ec4ce.d24838","type":"comment","z":"99ba5eb4.8829d8","name":"Request for break or restart?","info":"","x":460,"y":440,"wires":[]},{"id":"4e964aeb.4cb73c","type":"comment","z":"99ba5eb4.8829d8","name":"Slower","info":"","x":270,"y":440,"wires":[]},{"id":"dc983b4.e73a8c8","type":"comment","z":"99ba5eb4.8829d8","name":"Show some visual output","info":"","x":710,"y":440,"wires":[]},{"id":"8845a1bc.3abfa8","type":"comment","z":"99ba5eb4.8829d8","name":"Set command","info":"","x":670,"y":300,"wires":[]},{"id":"7d352c07.cb9d9c","type":"comment","z":"99ba5eb4.8829d8","name":"Show final status","info":"","x":880,"y":240,"wires":[]}]