node-red/node_modules/node-red-contrib-loop/examples/05 - Time limited loop.json
[{"id":"a7dff48.0b1a308","type":"loop","z":"99ba5eb4.8829d8","name":"","kind":"fcnt","count":"","initial":"1","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"20000","loopPayload":"loop-val","finalPayload":"final-last","x":510,"y":340,"wires":[["77ca2a7f.7d5ec4"],["3a74f02b.08abb8","be9bf1d4.59057"]]},{"id":"144e890f.9c851f","type":"inject","z":"99ba5eb4.8829d8","name":"","props":[{"p":"count","v":"10","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":290,"y":340,"wires":[["a7dff48.0b1a308"]]},{"id":"77ca2a7f.7d5ec4","type":"debug","z":"99ba5eb4.8829d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"loop","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":340,"wires":[]},{"id":"d898ce0a.7de5","type":"comment","z":"99ba5eb4.8829d8","name":"Example: Time limited loop","info":"","x":350,"y":220,"wires":[]},{"id":"3a74f02b.08abb8","type":"delay","z":"99ba5eb4.8829d8","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":420,"wires":[["a7dff48.0b1a308"]]},{"id":"be9bf1d4.59057","type":"debug","z":"99ba5eb4.8829d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":380,"wires":[]},{"id":"886edcef.86517","type":"comment","z":"99ba5eb4.8829d8","name":"Request 10 loops","info":"","x":330,"y":300,"wires":[]},{"id":"56e993c3.0bc6d4","type":"comment","z":"99ba5eb4.8829d8","name":"Show final status","info":"","x":760,"y":300,"wires":[]},{"id":"168d55a3.8e556a","type":"comment","z":"99ba5eb4.8829d8","name":"Show loop value","info":"","x":760,"y":420,"wires":[]},{"id":"17613d11.4d339b","type":"comment","z":"99ba5eb4.8829d8","name":"Limited to 20 sec","info":"","x":540,"y":300,"wires":[]}]