node-red/.flows.json.backup
[
    {
        "id": "3932732c76a33296",
        "type": "tab",
        "label": "Data Storage",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e773841c056590f4",
        "type": "tab",
        "label": "Automation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "65a4cd5d51fb96ae",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "263cb68dcd37c7d7",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "172.20.0.100",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f31dede1f911c00f",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "influx_iot",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://172.20.0.103:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "9bb8e820c92bb0f4",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "b1fe3cd54a4640aa",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0316f258592a1ce1",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "0fc38d5915e63d5a",
        "order": 4,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "69285099928fb720",
        "type": "ui_group",
        "name": "Moisture 1",
        "tab": "b95bdcd246960f21",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b95bdcd246960f21",
        "type": "ui_tab",
        "name": "Real Time Moisture Data",
        "icon": "fa-tint",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "07ee1ec33c4d3b0e",
        "type": "ui_group",
        "name": "Moisture 3",
        "tab": "b95bdcd246960f21",
        "order": 3,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0fc38d5915e63d5a",
        "type": "ui_tab",
        "name": "Real Time Temperature Data",
        "icon": "fa-thermometer-three-quarters",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b1fe3cd54a4640aa",
        "type": "ui_tab",
        "name": "Real Time Humidity Data",
        "icon": "fa-shower",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0aa9f44f9b2d30c0",
        "type": "ui_group",
        "name": "Moisture 2",
        "tab": "b95bdcd246960f21",
        "order": 2,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d0c9a1fec132ca97",
        "type": "ui_group",
        "name": "Moisture 4",
        "tab": "b95bdcd246960f21",
        "order": 4,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6f507b8220e8f24c",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#3195d3",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#3195d3",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#3195d3",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#70b5e0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#3195d3",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f715d3d086a317f7",
        "type": "mqtt in",
        "z": "3932732c76a33296",
        "name": "",
        "topic": "moisture/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "263cb68dcd37c7d7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 180,
        "wires": [
            [
                "978a75a26e29ee93"
            ]
        ]
    },
    {
        "id": "251200895db74601",
        "type": "mqtt in",
        "z": "3932732c76a33296",
        "name": "",
        "topic": "humidity/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "263cb68dcd37c7d7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 260,
        "wires": [
            [
                "444ca303e213c0a7"
            ]
        ]
    },
    {
        "id": "be4a27515323b70b",
        "type": "mqtt in",
        "z": "3932732c76a33296",
        "name": "",
        "topic": "temperature/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "263cb68dcd37c7d7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 340,
        "wires": [
            [
                "1b52cc0a5dfe64c6"
            ]
        ]
    },
    {
        "id": "3c5dd2d2da518b06",
        "type": "influxdb out",
        "z": "3932732c76a33296",
        "influxdb": "f31dede1f911c00f",
        "name": "",
        "measurement": "temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "univaq",
        "bucket": "iot",
        "x": 720,
        "y": 380,
        "wires": []
    },
    {
        "id": "2a7ab13150496760",
        "type": "debug",
        "z": "3932732c76a33296",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "details",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 440,
        "wires": []
    },
    {
        "id": "1b52cc0a5dfe64c6",
        "type": "function",
        "z": "3932732c76a33296",
        "name": "function 2",
        "func": "var split_topic = msg.topic.split('/')\nvar id = split_topic[1]\n\nmsg.details = { id: id, payload: msg.payload }\n\nmsg.payload = [{\n    value: msg.payload\n},\n{\n    sensor_id: parseInt(id)\n}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 340,
        "wires": [
            [
                "2a7ab13150496760",
                "3c5dd2d2da518b06"
            ]
        ]
    },
    {
        "id": "444ca303e213c0a7",
        "type": "function",
        "z": "3932732c76a33296",
        "name": "function 3",
        "func": "var split_topic = msg.topic.split('/')\nvar id = split_topic[1]\n\nmsg.details = { id : id, payload : msg.payload }\n\nmsg.payload = [{\n    value: msg.payload\n},\n{\n    sensor_id: parseInt(id)\n}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 260,
        "wires": [
            [
                "a66dd25a9ffb7a7d",
                "31b31fac32bc4b7f"
            ]
        ]
    },
    {
        "id": "978a75a26e29ee93",
        "type": "function",
        "z": "3932732c76a33296",
        "name": "function 4",
        "func": "var split_topic = msg.topic.split('/')\nvar id = split_topic[2]\n\nmsg.details = { id: id, payload: msg.payload }\n\nmsg.payload = [{\n    value: msg.payload\n},\n{\n    plant_id: parseInt(id)\n}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 180,
        "wires": [
            [
                "a34efaafe8bfc3dc",
                "c780943ebb61a4ba"
            ]
        ]
    },
    {
        "id": "a34efaafe8bfc3dc",
        "type": "debug",
        "z": "3932732c76a33296",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "details",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "a66dd25a9ffb7a7d",
        "type": "debug",
        "z": "3932732c76a33296",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "details",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 320,
        "wires": []
    },
    {
        "id": "c780943ebb61a4ba",
        "type": "influxdb out",
        "z": "3932732c76a33296",
        "influxdb": "f31dede1f911c00f",
        "name": "",
        "measurement": "moisture",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "univaq",
        "bucket": "iot",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "31b31fac32bc4b7f",
        "type": "influxdb out",
        "z": "3932732c76a33296",
        "influxdb": "f31dede1f911c00f",
        "name": "",
        "measurement": "humidity",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "univaq",
        "bucket": "iot",
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "ed7d374c64b66cec",
        "type": "comment",
        "z": "3932732c76a33296",
        "name": "",
        "info": "Gathers data from MQTT and stores it in InfluxDB",
        "x": 400,
        "y": 60,
        "wires": []
    },
    {
        "id": "d349962fda5f8703",
        "type": "influxdb in",
        "z": "e773841c056590f4",
        "influxdb": "f31dede1f911c00f",
        "name": "moisture1",
        "query": "from(bucket: \"iot\")\n  |> range(start: -1m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"moisture\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"plant_id\"] == \"1\")\n  |> sort(columns: [\"_time\"], desc: true)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "univaq",
        "x": 380,
        "y": 100,
        "wires": [
            [
                "54b109a962717ed2"
            ]
        ]
    },
    {
        "id": "afc489fa3146289d",
        "type": "debug",
        "z": "e773841c056590f4",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "debug",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 140,
        "wires": []
    },
    {
        "id": "423419e26896b5d8",
        "type": "inject",
        "z": "e773841c056590f4",
        "name": "",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 70,
        "y": 620,
        "wires": [
            [
                "d349962fda5f8703",
                "44b422fab689353f",
                "54b1eb09a43e3a2e",
                "97a085945f7178ad",
                "84caf7b0e94683a0",
                "eb5ae1dfc23eec41"
            ]
        ]
    },
    {
        "id": "54b109a962717ed2",
        "type": "function",
        "z": "e773841c056590f4",
        "name": "function 5",
        "func": "var payload = msg.payload\nvar sum = 0\nvar counter = 0\nfor (let index = 0; index < payload.length; index++) {\n    const element = payload[index]['_value'];\n    sum = sum + element;\n    counter = counter + 1\n}\nmsg.payload = (sum/counter) | 0\nmsg.debug = { '1': msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 100,
        "wires": [
            [
                "afc489fa3146289d",
                "54ca57470fab2fee"
            ]
        ]
    },
    {
        "id": "54ca57470fab2fee",
        "type": "switch",
        "z": "e773841c056590f4",
        "name": "moisture_threshold",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "80",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 40,
        "wires": [
            [
                "ebfd24bf0473e06e"
            ],
            [
                "33c39b33e27dd271"
            ]
        ]
    },
    {
        "id": "ebfd24bf0473e06e",
        "type": "mqtt out",
        "z": "e773841c056590f4",
        "name": "",
        "topic": "waterpump/increase/1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "263cb68dcd37c7d7",
        "x": 1220,
        "y": 40,
        "wires": []
    },
    {
        "id": "33c39b33e27dd271",
        "type": "mqtt out",
        "z": "e773841c056590f4",
        "name": "",
        "topic": "waterpump/decrease/1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "263cb68dcd37c7d7",
        "x": 1230,
        "y": 120,
        "wires": []
    },
    {
        "id": "44b422fab689353f",
        "type": "influxdb in",
        "z": "e773841c056590f4",
        "influxdb": "f31dede1f911c00f",
        "name": "moisture2",
        "query": "from(bucket: \"iot\")\n  |> range(start: -1m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"moisture\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"plant_id\"] == \"2\")\n  |> sort(columns: [\"_time\"], desc: true)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "univaq",
        "x": 380,
        "y": 300,
        "wires": [
            [
                "3606f7b4f81e1599"
            ]
        ]
    },
    {
        "id": "fd3f980f1d0c241c",
        "type": "debug",
        "z": "e773841c056590f4",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "debug",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 340,
        "wires": []
    },
    {
        "id": "3606f7b4f81e1599",
        "type": "function",
        "z": "e773841c056590f4",
        "name": "function 6",
        "func": "var payload = msg.payload\nvar sum = 0\nvar counter = 0\nfor (let index = 0; index < payload.length; index++) {\n    const element = payload[index]['_value'];\n    sum = sum + element;\n    counter = counter + 1\n}\nmsg.payload = (sum/counter) | 0\nmsg.debug = { '2': msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 300,
        "wires": [
            [
                "fd3f980f1d0c241c",
                "1da1df49195b6b82"
            ]
        ]
    },
    {
        "id": "1da1df49195b6b82",
        "type": "switch",
        "z": "e773841c056590f4",
        "name": "moisture_threshold",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "80",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 240,
        "wires": [
            [
                "b2d3303f52e09d1c"
            ],
            [
                "45264c81b6de7ecf"
            ]
        ]
    },
    {
        "id": "b2d3303f52e09d1c",
        "type": "mqtt out",
        "z": "e773841c056590f4",
        "name": "",
        "topic": "waterpump/increase/2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "263cb68dcd37c7d7",
        "x": 1220,
        "y": 240,
        "wires": []
    },
    {
        "id": "45264c81b6de7ecf",
        "type": "mqtt out",
        "z": "e773841c056590f4",
        "name": "",
        "topic": "waterpump/decrease/2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "263cb68dcd37c7d7",
        "x": 1230,
        "y": 320,
        "wires": []
    },
    {
        "id": "54b1eb09a43e3a2e",
        "type": "influxdb in",
        "z": "e773841c056590f4",
        "influxdb": "f31dede1f911c00f",
        "name": "moisture3",
        "query": "from(bucket: \"iot\")\n  |> range(start: -1m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"moisture\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"plant_id\"] == \"3\")\n  |> sort(columns: [\"_time\"], desc: true)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "univaq",
        "x": 380,
        "y": 500,
        "wires": [
            [
                "5c26759137d1a7e6"
            ]
        ]
    },
    {
        "id": "221f400b41d6a8dc",
        "type": "debug",
        "z": "e773841c056590f4",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "debug",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 540,
        "wires": []
    },
    {
        "id": "5c26759137d1a7e6",
        "type": "function",
        "z": "e773841c056590f4",
        "name": "function 7",
        "func": "var payload = msg.payload\nvar sum = 0\nvar counter = 0\nfor (let index = 0; index < payload.length; index++) {\n    const element = payload[index]['_value'];\n    sum = sum + element;\n    counter = counter + 1\n}\nmsg.payload = (sum / counter) | 0\nmsg.debug = { '3': msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 500,
        "wires": [
            [
                "221f400b41d6a8dc",
                "8166bf98205c1b74"
            ]
        ]
    },
    {
        "id": "8166bf98205c1b74",
        "type": "switch",
        "z": "e773841c056590f4",
        "name": "moisture_threshold",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "80",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 440,
        "wires": [
            [
                "e990e222c0f8be42"
            ],
            [
                "0303505295f11946"
            ]
        ]
    },
    {
        "id": "e990e222c0f8be42",
        "type": "mqtt out",
        "z": "e773841c056590f4",
        "name": "",
        "topic": "waterpump/increase/3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "263cb68dcd37c7d7",
        "x": 1220,
        "y": 440,
        "wires": []
    },
    {
        "id": "0303505295f11946",
        "type": "mqtt out",
        "z": "e773841c056590f4",
        "name": "",
        "topic": "waterpump/decrease/3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "263cb68dcd37c7d7",
        "x": 1230,
        "y": 540,
        "wires": []
    },
    {
        "id": "97a085945f7178ad",
        "type": "influxdb in",
        "z": "e773841c056590f4",
        "influxdb": "f31dede1f911c00f",
        "name": "moisture4",
        "query": "from(bucket: \"iot\")\n  |> range(start: -1m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"moisture\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"plant_id\"] == \"4\")\n  |> sort(columns: [\"_time\"], desc: true)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "univaq",
        "x": 380,
        "y": 700,
        "wires": [
            [
                "9e96a043f3783b3b"
            ]
        ]
    },
    {
        "id": "934f14f952b2e148",
        "type": "debug",
        "z": "e773841c056590f4",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "debug",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 740,
        "wires": []
    },
    {
        "id": "9e96a043f3783b3b",
        "type": "function",
        "z": "e773841c056590f4",
        "name": "function 8",
        "func": "var payload = msg.payload\nvar sum = 0\nvar counter = 0\nfor (let index = 0; index < payload.length; index++) {\n    const element = payload[index]['_value'];\n    sum = sum + element;\n    counter = counter + 1\n}\nmsg.payload = (sum / counter) | 0\nmsg.debug = {'4' : msg.payload}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 700,
        "wires": [
            [
                "934f14f952b2e148",
                "e658d6c483822862"
            ]
        ]
    },
    {
        "id": "e658d6c483822862",
        "type": "switch",
        "z": "e773841c056590f4",
        "name": "moisture_threshold",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "80",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 640,
        "wires": [
            [
                "e34ed86b945fe0fe"
            ],
            [
                "c7ee0ff3c2378482"
            ]
        ]
    },
    {
        "id": "e34ed86b945fe0fe",
        "type": "mqtt out",
        "z": "e773841c056590f4",
        "name": "",
        "topic": "waterpump/increase/4",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "263cb68dcd37c7d7",
        "x": 1220,
        "y": 640,
        "wires": []
    },
    {
        "id": "c7ee0ff3c2378482",
        "type": "mqtt out",
        "z": "e773841c056590f4",
        "name": "",
        "topic": "waterpump/decrease/4",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "263cb68dcd37c7d7",
        "x": 1230,
        "y": 740,
        "wires": []
    },
    {
        "id": "84caf7b0e94683a0",
        "type": "influxdb in",
        "z": "e773841c056590f4",
        "influxdb": "f31dede1f911c00f",
        "name": "temperature",
        "query": "from(bucket: \"iot\")\n  |> range(start: -1m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"temperature\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> sort(columns: [\"_time\"], desc: true)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "univaq",
        "x": 370,
        "y": 960,
        "wires": [
            [
                "5bd79e15442ff683"
            ]
        ]
    },
    {
        "id": "cb79d9bd32095c54",
        "type": "debug",
        "z": "e773841c056590f4",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "debug",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1000,
        "wires": []
    },
    {
        "id": "5bd79e15442ff683",
        "type": "function",
        "z": "e773841c056590f4",
        "name": "function 9",
        "func": "var payload = msg.payload\nvar sum = 0\nvar counter = 0\nfor (let index = 0; index < payload.length; index++) {\n    const element = payload[index]['_value'];\n    sum = sum + element;\n    counter = counter + 1\n}\nmsg.payload = (sum / counter) | 0\nmsg.debug = { temperature : msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 960,
        "wires": [
            [
                "cb79d9bd32095c54",
                "c1ad272fef65c279"
            ]
        ]
    },
    {
        "id": "c1ad272fef65c279",
        "type": "switch",
        "z": "e773841c056590f4",
        "name": "temperature_threshold",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "20",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "25",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 880,
        "y": 900,
        "wires": [
            [
                "08298a0d44781f76"
            ],
            [
                "e7f57c274a6beb51"
            ]
        ]
    },
    {
        "id": "08298a0d44781f76",
        "type": "mqtt out",
        "z": "e773841c056590f4",
        "name": "",
        "topic": "conditioner/increase",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "263cb68dcd37c7d7",
        "x": 1200,
        "y": 900,
        "wires": []
    },
    {
        "id": "e7f57c274a6beb51",
        "type": "mqtt out",
        "z": "e773841c056590f4",
        "name": "",
        "topic": "conditioner/decrease",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "263cb68dcd37c7d7",
        "x": 1200,
        "y": 980,
        "wires": []
    },
    {
        "id": "eb5ae1dfc23eec41",
        "type": "influxdb in",
        "z": "e773841c056590f4",
        "influxdb": "f31dede1f911c00f",
        "name": "humidity",
        "query": "from(bucket: \"iot\")\n  |> range(start: -1m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"humidity\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> sort(columns: [\"_time\"], desc: true)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "univaq",
        "x": 360,
        "y": 1180,
        "wires": [
            [
                "478e08aee3c2382c"
            ]
        ]
    },
    {
        "id": "df8d0cdae434d733",
        "type": "debug",
        "z": "e773841c056590f4",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "debug",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1220,
        "wires": []
    },
    {
        "id": "478e08aee3c2382c",
        "type": "function",
        "z": "e773841c056590f4",
        "name": "function 10",
        "func": "var payload = msg.payload\nvar sum = 0\nvar counter = 0\nfor (let index = 0; index < payload.length; index++) {\n    const element = payload[index]['_value'];\n    sum = sum + element;\n    counter = counter + 1\n}\nmsg.payload = (sum / counter) | 0\nmsg.debug = { humidity : msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1180,
        "wires": [
            [
                "df8d0cdae434d733",
                "74b93178d6032fbd"
            ]
        ]
    },
    {
        "id": "74b93178d6032fbd",
        "type": "switch",
        "z": "e773841c056590f4",
        "name": "air_humidity_threshold",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "60",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 880,
        "y": 1120,
        "wires": [
            [
                "a25f49a52475bc20"
            ],
            [
                "d89a86c764f54d7a"
            ]
        ]
    },
    {
        "id": "a25f49a52475bc20",
        "type": "mqtt out",
        "z": "e773841c056590f4",
        "name": "",
        "topic": "humidifier/increase",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "263cb68dcd37c7d7",
        "x": 1190,
        "y": 1140,
        "wires": []
    },
    {
        "id": "d89a86c764f54d7a",
        "type": "mqtt out",
        "z": "e773841c056590f4",
        "name": "",
        "topic": "humidifier/decrease",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "263cb68dcd37c7d7",
        "x": 1190,
        "y": 1220,
        "wires": []
    },
    {
        "id": "ff43e229a50c97a0",
        "type": "ui_gauge",
        "z": "65a4cd5d51fb96ae",
        "name": "",
        "group": "69285099928fb720",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "wave",
        "title": "Plant 1",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#00b500",
            "#b30000"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 860,
        "y": 180,
        "wires": []
    },
    {
        "id": "5742355d4dbe29bd",
        "type": "ui_gauge",
        "z": "65a4cd5d51fb96ae",
        "name": "",
        "group": "0aa9f44f9b2d30c0",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "wave",
        "title": "Plant 2",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#00b500",
            "#b30000"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 860,
        "y": 320,
        "wires": []
    },
    {
        "id": "89115ebca41989ee",
        "type": "inject",
        "z": "65a4cd5d51fb96ae",
        "name": "",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "57df9722bb6f3b64",
                "455b568a859cdcef",
                "dd5e9269939acdbb",
                "41150b0fa52ad7a2",
                "75e61618b0d210d8",
                "d3105f15cb6b8232"
            ]
        ]
    },
    {
        "id": "57df9722bb6f3b64",
        "type": "influxdb in",
        "z": "65a4cd5d51fb96ae",
        "influxdb": "f31dede1f911c00f",
        "name": "moisture1",
        "query": "from(bucket: \"iot\")\n  |> range(start: -1m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"moisture\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"plant_id\"] == \"1\")\n  |> sort(columns: [\"_time\"], desc: true)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "univaq",
        "x": 420,
        "y": 180,
        "wires": [
            [
                "56e581bb424b8e8a"
            ]
        ]
    },
    {
        "id": "56e581bb424b8e8a",
        "type": "function",
        "z": "65a4cd5d51fb96ae",
        "name": "function 11",
        "func": "var payload = msg.payload\nvar sum = 0\nvar counter = 0\nfor (let index = 0; index < payload.length; index++) {\n    const element = payload[index]['_value'];\n    sum = sum + element;\n    counter = counter + 1\n}\nmsg.payload = (sum/counter) | 0\nmsg.debug = { '1': msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 180,
        "wires": [
            [
                "ff43e229a50c97a0"
            ]
        ]
    },
    {
        "id": "455b568a859cdcef",
        "type": "influxdb in",
        "z": "65a4cd5d51fb96ae",
        "influxdb": "f31dede1f911c00f",
        "name": "moisture2",
        "query": "from(bucket: \"iot\")\n  |> range(start: -1m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"moisture\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"plant_id\"] == \"2\")\n  |> sort(columns: [\"_time\"], desc: true)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "univaq",
        "x": 420,
        "y": 320,
        "wires": [
            [
                "0f8a1c5bbdd64ac6"
            ]
        ]
    },
    {
        "id": "0f8a1c5bbdd64ac6",
        "type": "function",
        "z": "65a4cd5d51fb96ae",
        "name": "function 12",
        "func": "var payload = msg.payload\nvar sum = 0\nvar counter = 0\nfor (let index = 0; index < payload.length; index++) {\n    const element = payload[index]['_value'];\n    sum = sum + element;\n    counter = counter + 1\n}\nmsg.payload = (sum / counter) | 0\nmsg.debug = { '1': msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 320,
        "wires": [
            [
                "5742355d4dbe29bd"
            ]
        ]
    },
    {
        "id": "dd5e9269939acdbb",
        "type": "influxdb in",
        "z": "65a4cd5d51fb96ae",
        "influxdb": "f31dede1f911c00f",
        "name": "moisture3",
        "query": "from(bucket: \"iot\")\n  |> range(start: -1m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"moisture\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"plant_id\"] == \"3\")\n  |> sort(columns: [\"_time\"], desc: true)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "univaq",
        "x": 420,
        "y": 480,
        "wires": [
            [
                "1c0ece01d8e364e3"
            ]
        ]
    },
    {
        "id": "1c0ece01d8e364e3",
        "type": "function",
        "z": "65a4cd5d51fb96ae",
        "name": "function 13",
        "func": "var payload = msg.payload\nvar sum = 0\nvar counter = 0\nfor (let index = 0; index < payload.length; index++) {\n    const element = payload[index]['_value'];\n    sum = sum + element;\n    counter = counter + 1\n}\nmsg.payload = (sum / counter) | 0\nmsg.debug = { '1': msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 480,
        "wires": [
            [
                "a3aa18b1e31e7f7d"
            ]
        ]
    },
    {
        "id": "41150b0fa52ad7a2",
        "type": "influxdb in",
        "z": "65a4cd5d51fb96ae",
        "influxdb": "f31dede1f911c00f",
        "name": "moisture4",
        "query": "from(bucket: \"iot\")\n  |> range(start: -1m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"moisture\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"plant_id\"] == \"4\")\n  |> sort(columns: [\"_time\"], desc: true)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "univaq",
        "x": 420,
        "y": 640,
        "wires": [
            [
                "6ebcc66be42911db"
            ]
        ]
    },
    {
        "id": "6ebcc66be42911db",
        "type": "function",
        "z": "65a4cd5d51fb96ae",
        "name": "function 14",
        "func": "var payload = msg.payload\nvar sum = 0\nvar counter = 0\nfor (let index = 0; index < payload.length; index++) {\n    const element = payload[index]['_value'];\n    sum = sum + element;\n    counter = counter + 1\n}\nmsg.payload = (sum / counter) | 0\nmsg.debug = { '1': msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 640,
        "wires": [
            [
                "f6d85487d22091c2"
            ]
        ]
    },
    {
        "id": "a3aa18b1e31e7f7d",
        "type": "ui_gauge",
        "z": "65a4cd5d51fb96ae",
        "name": "",
        "group": "07ee1ec33c4d3b0e",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "wave",
        "title": "Plant 3",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#00b500",
            "#b30000"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 860,
        "y": 480,
        "wires": []
    },
    {
        "id": "f6d85487d22091c2",
        "type": "ui_gauge",
        "z": "65a4cd5d51fb96ae",
        "name": "",
        "group": "d0c9a1fec132ca97",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "wave",
        "title": "Plant 4",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#00b500",
            "#b30000"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 860,
        "y": 640,
        "wires": []
    },
    {
        "id": "75e61618b0d210d8",
        "type": "influxdb in",
        "z": "65a4cd5d51fb96ae",
        "influxdb": "f31dede1f911c00f",
        "name": "temperature",
        "query": "from(bucket: \"iot\")\n  |> range(start: -1m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"temperature\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> sort(columns: [\"_time\"], desc: true)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "univaq",
        "x": 430,
        "y": 820,
        "wires": [
            [
                "0ae7ec8f4fe320f7"
            ]
        ]
    },
    {
        "id": "0ae7ec8f4fe320f7",
        "type": "function",
        "z": "65a4cd5d51fb96ae",
        "name": "function 15",
        "func": "var payload = msg.payload\nvar sum = 0\nvar counter = 0\nfor (let index = 0; index < payload.length; index++) {\n    const element = payload[index]['_value'];\n    sum = sum + element;\n    counter = counter + 1\n}\nmsg.payload = (sum/counter) | 0\nmsg.debug = { temperature : msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 820,
        "wires": [
            [
                "9990d76e44a9d48f"
            ]
        ]
    },
    {
        "id": "bc1d182f6dfc4402",
        "type": "function",
        "z": "65a4cd5d51fb96ae",
        "name": "function 16",
        "func": "var payload = msg.payload\nvar sum = 0\nvar counter = 0\nfor (let index = 0; index < payload.length; index++) {\n    const element = payload[index]['_value'];\n    sum = sum + element;\n    counter = counter + 1\n}\nmsg.payload = (sum / counter) | 0\nmsg.debug = { humidity : msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 980,
        "wires": [
            [
                "3becf5ec1ad6373b"
            ]
        ]
    },
    {
        "id": "d3105f15cb6b8232",
        "type": "influxdb in",
        "z": "65a4cd5d51fb96ae",
        "influxdb": "f31dede1f911c00f",
        "name": "humidity",
        "query": "from(bucket: \"iot\")\n  |> range(start: -1m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"humidity\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> sort(columns: [\"_time\"], desc: true)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "univaq",
        "x": 430,
        "y": 980,
        "wires": [
            [
                "bc1d182f6dfc4402"
            ]
        ]
    },
    {
        "id": "9990d76e44a9d48f",
        "type": "ui_gauge",
        "z": "65a4cd5d51fb96ae",
        "name": "",
        "group": "0316f258592a1ce1",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "donut",
        "title": "Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00bfff",
            "#00b500",
            "#eb0000"
        ],
        "seg1": "19",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 870,
        "y": 820,
        "wires": []
    },
    {
        "id": "3becf5ec1ad6373b",
        "type": "ui_gauge",
        "z": "65a4cd5d51fb96ae",
        "name": "",
        "group": "9bb8e820c92bb0f4",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#00b500",
            "#b30000"
        ],
        "seg1": "49",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 860,
        "y": 980,
        "wires": []
    },
    {
        "id": "3b7c141a1b293258",
        "type": "ui_button",
        "z": "65a4cd5d51fb96ae",
        "name": "",
        "group": "69285099928fb720",
        "order": 3,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "+10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#50bf6e",
        "className": "",
        "icon": "fa-arrow-up",
        "payload": "",
        "payloadType": "str",
        "topic": "waterpump/increase/1",
        "topicType": "str",
        "x": 410,
        "y": 1180,
        "wires": [
            [
                "679948689fb2f71d"
            ]
        ]
    },
    {
        "id": "abadf9af96533a98",
        "type": "ui_button",
        "z": "65a4cd5d51fb96ae",
        "name": "",
        "group": "69285099928fb720",
        "order": 4,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "-10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#bf5050",
        "className": "",
        "icon": "fa-arrow-down",
        "payload": "",
        "payloadType": "str",
        "topic": "waterpump/decrease/1",
        "topicType": "str",
        "x": 410,
        "y": 1240,
        "wires": [
            [
                "679948689fb2f71d"
            ]
        ]
    },
    {
        "id": "fc9a4715ec6cdcbf",
        "type": "ui_button",
        "z": "65a4cd5d51fb96ae",
        "name": "",
        "group": "0aa9f44f9b2d30c0",
        "order": 3,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "+10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#50bf6e",
        "className": "",
        "icon": "fa-arrow-up",
        "payload": "",
        "payloadType": "str",
        "topic": "waterpump/increase/2",
        "topicType": "str",
        "x": 650,
        "y": 1180,
        "wires": [
            [
                "679948689fb2f71d"
            ]
        ]
    },
    {
        "id": "a2d07cd2d5a1d2d3",
        "type": "ui_button",
        "z": "65a4cd5d51fb96ae",
        "name": "",
        "group": "0aa9f44f9b2d30c0",
        "order": 4,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "-10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#bf5050",
        "className": "",
        "icon": "fa-arrow-down",
        "payload": "",
        "payloadType": "str",
        "topic": "waterpump/decrease/2",
        "topicType": "str",
        "x": 650,
        "y": 1240,
        "wires": [
            [
                "679948689fb2f71d"
            ]
        ]
    },
    {
        "id": "653c86cce303ce3c",
        "type": "ui_button",
        "z": "65a4cd5d51fb96ae",
        "name": "",
        "group": "07ee1ec33c4d3b0e",
        "order": 3,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "+10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#50bf6e",
        "className": "",
        "icon": "fa-arrow-up",
        "payload": "",
        "payloadType": "str",
        "topic": "waterpump/increase/3",
        "topicType": "str",
        "x": 870,
        "y": 1180,
        "wires": [
            [
                "679948689fb2f71d"
            ]
        ]
    },
    {
        "id": "a6bd3bb5e0dd27a9",
        "type": "ui_button",
        "z": "65a4cd5d51fb96ae",
        "name": "",
        "group": "07ee1ec33c4d3b0e",
        "order": 4,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "-10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#bf5050",
        "className": "",
        "icon": "fa-arrow-down",
        "payload": "",
        "payloadType": "str",
        "topic": "waterpump/decrease/3",
        "topicType": "str",
        "x": 870,
        "y": 1240,
        "wires": [
            [
                "679948689fb2f71d"
            ]
        ]
    },
    {
        "id": "1c14c1a4aa7621cb",
        "type": "ui_button",
        "z": "65a4cd5d51fb96ae",
        "name": "",
        "group": "d0c9a1fec132ca97",
        "order": 3,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "+10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#50bf6e",
        "className": "",
        "icon": "fa-arrow-up",
        "payload": "",
        "payloadType": "str",
        "topic": "waterpump/increase/4",
        "topicType": "str",
        "x": 1090,
        "y": 1180,
        "wires": [
            [
                "679948689fb2f71d"
            ]
        ]
    },
    {
        "id": "1c4e17940290cc0d",
        "type": "ui_button",
        "z": "65a4cd5d51fb96ae",
        "name": "",
        "group": "d0c9a1fec132ca97",
        "order": 4,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "-10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#bf5050",
        "className": "",
        "icon": "fa-arrow-down",
        "payload": "",
        "payloadType": "str",
        "topic": "waterpump/decrease/4",
        "topicType": "str",
        "x": 1090,
        "y": 1240,
        "wires": [
            [
                "679948689fb2f71d"
            ]
        ]
    },
    {
        "id": "679948689fb2f71d",
        "type": "mqtt out",
        "z": "65a4cd5d51fb96ae",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "263cb68dcd37c7d7",
        "x": 770,
        "y": 1080,
        "wires": []
    },
    {
        "id": "37a560218c5f2320",
        "type": "ui_button",
        "z": "65a4cd5d51fb96ae",
        "name": "",
        "group": "0316f258592a1ce1",
        "order": 3,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "+2º C",
        "tooltip": "",
        "color": "",
        "bgcolor": "#50bf6e",
        "className": "",
        "icon": "fa-arrow-up",
        "payload": "",
        "payloadType": "str",
        "topic": "conditioner/increase",
        "topicType": "str",
        "x": 410,
        "y": 1380,
        "wires": [
            [
                "679948689fb2f71d"
            ]
        ]
    },
    {
        "id": "1c1e33221b26bccf",
        "type": "ui_button",
        "z": "65a4cd5d51fb96ae",
        "name": "",
        "group": "0316f258592a1ce1",
        "order": 4,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "-2º C",
        "tooltip": "",
        "color": "",
        "bgcolor": "#bf5050",
        "className": "",
        "icon": "fa-arrow-down",
        "payload": "",
        "payloadType": "str",
        "topic": "conditioner/decrease",
        "topicType": "str",
        "x": 410,
        "y": 1440,
        "wires": [
            [
                "679948689fb2f71d"
            ]
        ]
    },
    {
        "id": "9034149ff5c257cc",
        "type": "ui_button",
        "z": "65a4cd5d51fb96ae",
        "name": "",
        "group": "9bb8e820c92bb0f4",
        "order": 3,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "+10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#50bf6e",
        "className": "",
        "icon": "fa-arrow-up",
        "payload": "",
        "payloadType": "str",
        "topic": "humidifier/increase",
        "topicType": "str",
        "x": 750,
        "y": 1380,
        "wires": [
            [
                "679948689fb2f71d"
            ]
        ]
    },
    {
        "id": "bcc9d73a2384f299",
        "type": "ui_button",
        "z": "65a4cd5d51fb96ae",
        "name": "",
        "group": "9bb8e820c92bb0f4",
        "order": 4,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "-10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#bf5050",
        "className": "",
        "icon": "fa-arrow-down",
        "payload": "",
        "payloadType": "str",
        "topic": "humidifier/decrease",
        "topicType": "str",
        "x": 750,
        "y": 1440,
        "wires": [
            [
                "679948689fb2f71d"
            ]
        ]
    },
    {
        "id": "978c2ad2c1ec4511",
        "type": "ui_template",
        "z": "65a4cd5d51fb96ae",
        "group": "9bb8e820c92bb0f4",
        "name": "",
        "order": 2,
        "width": "12",
        "height": "8",
        "format": "<div style=\"border-radius: 10px; width: 100%; height: 100%; overflow: hidden;\">\n    <iframe src=\"http://localhost:3000/d-solo/47Y9EaJVz/new-dashboard?orgId=1&refresh=5s&theme=dark&panelId=2\"\n        width=\"100%\" height=\"100%\" frameborder=\"0\"></iframe>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 860,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "768fb8e92e8a0cc5",
        "type": "ui_template",
        "z": "65a4cd5d51fb96ae",
        "group": "69285099928fb720",
        "name": "",
        "order": 2,
        "width": "12",
        "height": "8",
        "format": "<div style=\"border-radius: 10px; width: 100%; height: 100%; overflow: hidden;\">\n    <iframe src=\"http://localhost:3000/d-solo/47Y9EaJVz/new-dashboard?orgId=1&refresh=5s&theme=dark&panelId=4\"\n    width=\"100%\" height=\"100%\" frameborder=\"0\"></iframe>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 860,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "d98032308a0e85cc",
        "type": "ui_template",
        "z": "65a4cd5d51fb96ae",
        "group": "",
        "name": "Dashboard Theme : Modern Dark",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div>\n    <link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap\" rel=\"stylesheet\">\n    <style>\n        body {\n            --background: #212529;\n            --on-background: white;\n            --surface: #2d3136;\n            --on-surface: white;\n            --primary: var(--nr-dashboard-widgetColor);\n            --on-primary: white;\n            --secondary: var(--nr-dashboard-groupTextColor);\n            --accent: red;\n            --radius-s: 8px;\n            --font-weight-m: 300;\n            --font-weight-m: 500;\n            --font-weight-l: 700;\n            --space-s: 8px;\n            --space-m: 16px;\n            --space-l: 32px;\n        }\n\n        body.nr-dashboard-theme {\n            background-color: var(--background);\n            font-family: 'Montserrat', sans-serif;\n        }\n        .nr-dashboard-theme ui-card-panel {\n            background-color: var(--background);\n            border: 0;\n        }\n        .nr-dashboard-theme .nr-dashboard-button .md-button {\n            background-color: var(--primary);\n            border-radius: var(--radius-s);\n            padding: 8px !important;\n            line-height: inherit;\n            font-weight: var(--font-weight-l);\n            font-size: 25px;\n            color: var(--on-primary);\n        }\n        .nr-dashboard-theme [ui-card-size=\"2x2\"].nr-dashboard-button .md-button {\n            display: flex;\n            flex-direction: column;\n            justify-content: center;\n            align-items: center;\n            white-space: pre-line;\n        }\n        \n        .nr-dashboard-theme .nr-dashboard-button .md-button ui-icon {\n                margin-bottom: 8px;\n        }\n        .nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n            background-color: var(--secondary);\n        }\n        body.nr-dashboard-theme md-content md-card {\n            background-color: var(--surface);\n        }\n        md-card.md-default-theme, md-card {\n            border-radius: var(--radius-s);\n        }\n        .nr-dashboard-theme .nr-dashboard-gauge-titlel {\n            font-weight: var(--font-weight-l) !important;      \n        }\n        .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n            font-weight: var(--font-weight-l);  \n            text-transform: capitalize;\n            color: var(--on-background);\n        }\n        .nr-dashboard-cardpanel > p {\n            margin-left: 0;\n            padding-left: 16px;\n        }\n        body.nr-dashboard-theme md-toolbar {\n            background-color: var(--surface);\n        }\n        .md-default-theme .md-datepicker-calendar, .md-datepicker-calendar,\n        .md-default-theme .md-calendar, .md-calendar{\n            background-color: var(--surface);\n            color: var(--on-surface);\n        }\n        .md-default-theme .md-datepicker-calendar-pane, .md-datepicker-calendar-pane{\n            border: 0;\n        }\n        .md-default-theme .md-calendar-month-label md-icon, .md-calendar-month-label md-icon, .md-default-theme .md-datepicker-input, .md-datepicker-input {\n            color: var(--on-surface);\n        }\n        body.nr-dashboard-theme md-content md-card {\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-numeric .value {\n            background-color: var(--surface);\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value, .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value.md-select-placeholder {\n            color: var(--on-surface);\n            border-color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-dropdown .md-select-icon {\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-date-picker md-input-container .md-input {\n            color: var(--on-surface);\n            border-color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-date-picker .md-datepicker-triangle-button .md-datepicker-expand-triangle {\n            border-top-color: var(--on-surface);\n        }\n        body.nr-dashboard-theme md-sidenav {\n            background-color: var(--surface);\n        }\n        md-list-item._md-button-wrap > div.md-button:first-child, md-list-item .md-list-item-inner {\n            background-color: var(--surface);\n        }\n        .big-font{\n        font-size: 0.8em\n        }\n    </style>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 740,
        "y": 1660,
        "wires": [
            []
        ],
        "icon": "node-red-dashboard/ui_colour_picker.png",
        "info": "# Modern Dark Theme for node-red-dashboard\n\nInspired by Victor Lucachi with his [Node Red Dashboard Concept](https://dribbble.com/shots/10356530-Node-Red-Dashboard-Concept) on Dribbble. Thank you for your work.\n\n## Customize\n\n1. Go on dashboard customisation tab (At the right of Debug Console).\n2. Select the style `Dark`.\n3. Pick the color you want. Example `#66B5F8`\n\n## Buttons\n\nUse `2x2` size for buttons with icon and text on the screenshot"
    },
    {
        "id": "f21d6e43ff3d28ef",
        "type": "ui_template",
        "z": "65a4cd5d51fb96ae",
        "group": "0aa9f44f9b2d30c0",
        "name": "",
        "order": 2,
        "width": "12",
        "height": "8",
        "format": "<div style=\"border-radius: 10px; width: 100%; height: 100%; overflow: hidden;\">\n    <iframe src=\"http://localhost:3000/d-solo/47Y9EaJVz/new-dashboard?orgId=1&refresh=5s&theme=dark&panelId=5\"\n    width=\"100%\" height=\"100%\" frameborder=\"0\"></iframe>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 860,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "b503bac75d4d0473",
        "type": "ui_template",
        "z": "65a4cd5d51fb96ae",
        "group": "07ee1ec33c4d3b0e",
        "name": "",
        "order": 2,
        "width": "12",
        "height": "8",
        "format": "<div style=\"border-radius: 10px; width: 100%; height: 100%; overflow: hidden;\">\n    <iframe src=\"http://localhost:3000/d-solo/47Y9EaJVz/new-dashboard?orgId=1&refresh=5s&theme=dark&panelId=6\"\n    width=\"100%\" height=\"100%\" frameborder=\"0\"></iframe>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 860,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "92258179840f647d",
        "type": "ui_template",
        "z": "65a4cd5d51fb96ae",
        "group": "d0c9a1fec132ca97",
        "name": "",
        "order": 2,
        "width": "12",
        "height": "8",
        "format": "<div style=\"border-radius: 10px; width: 100%; height: 100%; overflow: hidden;\">\n    <iframe src=\"http://localhost:3000/d-solo/47Y9EaJVz/new-dashboard?orgId=1&refresh=5s&theme=dark&panelId=7\"\n    width=\"100%\" height=\"100%\" frameborder=\"0\"></iframe>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 860,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "77206ac90f43246a",
        "type": "ui_template",
        "z": "65a4cd5d51fb96ae",
        "group": "0316f258592a1ce1",
        "name": "",
        "order": 2,
        "width": "12",
        "height": "8",
        "format": "<iframe src=\"http://172.20.0.104:3000/dashboard-solo/new?orgId=1&from=1676638186380&to=1676638486380&panelId=2\" width=\"450\"\n    height=\"200\" frameborder=\"0\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 860,
        "y": 860,
        "wires": [
            []
        ]
    }
]