node-red/flows.json
[
    {
        "id": "3932732c76a33296",
        "type": "tab",
        "label": "Data Storage",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fbc0d0b01941c30f",
        "type": "tab",
        "label": "Automation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "701c2638a968d671",
        "type": "tab",
        "label": "Links",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b19e5976d932230f",
        "type": "tab",
        "label": "Temp/Humidity/Light",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5a2954b694d1f123",
        "type": "tab",
        "label": "Theme",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "263cb68dcd37c7d7",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f31dede1f911c00f",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "influx_iot",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://172.20.0.103:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "9bb8e820c92bb0f4",
        "type": "ui_group",
        "name": "Humidity Data",
        "tab": "b1fe3cd54a4640aa",
        "order": 2,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0316f258592a1ce1",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "0fc38d5915e63d5a",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b95bdcd246960f21",
        "type": "ui_tab",
        "name": "Soil Moisture Data",
        "icon": "fa-tint",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0fc38d5915e63d5a",
        "type": "ui_tab",
        "name": "Temperature Data",
        "icon": "fa-thermometer-three-quarters",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b1fe3cd54a4640aa",
        "type": "ui_tab",
        "name": "Air Humidity Data",
        "icon": "fa-shower",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6f507b8220e8f24c",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#3195d3",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#3195d3",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#3195d3",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#70b5e0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#3195d3",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "GreenHub",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5a4dca8c1db7c374",
        "type": "ui_tab",
        "name": "Light Levels Data",
        "icon": "fa-lightbulb-o ",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1b941d3e969bc03d",
        "type": "ui_group",
        "name": "Light Levels",
        "tab": "5a4dca8c1db7c374",
        "order": 1,
        "disp": true,
        "width": 22,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8f2a3edc9f33916c",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ed1fa014b13bf2e3",
        "type": "ui_group",
        "name": "",
        "tab": "8f2a3edc9f33916c",
        "order": 3,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a18c5805eaf9e211",
        "type": "ui_group",
        "name": "Links",
        "tab": "8f2a3edc9f33916c",
        "order": 4,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "df0de8f973aaf073",
        "type": "ui_group",
        "name": "",
        "tab": "8f2a3edc9f33916c",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f715d3d086a317f7",
        "type": "mqtt in",
        "z": "3932732c76a33296",
        "name": "",
        "topic": "moisture/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "263cb68dcd37c7d7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 180,
        "wires": [
            [
                "978a75a26e29ee93"
            ]
        ]
    },
    {
        "id": "251200895db74601",
        "type": "mqtt in",
        "z": "3932732c76a33296",
        "name": "",
        "topic": "humidity/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "263cb68dcd37c7d7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 260,
        "wires": [
            [
                "444ca303e213c0a7"
            ]
        ]
    },
    {
        "id": "be4a27515323b70b",
        "type": "mqtt in",
        "z": "3932732c76a33296",
        "name": "",
        "topic": "temperature/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "263cb68dcd37c7d7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 340,
        "wires": [
            [
                "1b52cc0a5dfe64c6"
            ]
        ]
    },
    {
        "id": "3c5dd2d2da518b06",
        "type": "influxdb out",
        "z": "3932732c76a33296",
        "influxdb": "f31dede1f911c00f",
        "name": "",
        "measurement": "temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "univaq",
        "bucket": "iot",
        "x": 720,
        "y": 380,
        "wires": []
    },
    {
        "id": "2a7ab13150496760",
        "type": "debug",
        "z": "3932732c76a33296",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "details",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 440,
        "wires": []
    },
    {
        "id": "1b52cc0a5dfe64c6",
        "type": "function",
        "z": "3932732c76a33296",
        "name": "function 2",
        "func": "var split_topic = msg.topic.split('/')\nvar id = split_topic[1]\n\nmsg.details = { id: id, payload: msg.payload }\n\nmsg.payload = [{\n    value: msg.payload\n},\n{\n    sensor_id: parseInt(id)\n}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 340,
        "wires": [
            [
                "2a7ab13150496760",
                "3c5dd2d2da518b06"
            ]
        ]
    },
    {
        "id": "444ca303e213c0a7",
        "type": "function",
        "z": "3932732c76a33296",
        "name": "function 3",
        "func": "var split_topic = msg.topic.split('/')\nvar id = split_topic[1]\n\nmsg.details = { id : id, payload : msg.payload }\n\nmsg.payload = [{\n    value: msg.payload\n},\n{\n    sensor_id: parseInt(id)\n}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 260,
        "wires": [
            [
                "a66dd25a9ffb7a7d",
                "31b31fac32bc4b7f"
            ]
        ]
    },
    {
        "id": "978a75a26e29ee93",
        "type": "function",
        "z": "3932732c76a33296",
        "name": "function 4",
        "func": "var split_topic = msg.topic.split('/')\nvar id = split_topic[2]\n\nmsg.details = { id: id, payload: msg.payload }\n\nmsg.payload = [{\n    value: msg.payload\n},\n{\n    plant_id: parseInt(id)\n}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 180,
        "wires": [
            [
                "a34efaafe8bfc3dc",
                "c780943ebb61a4ba"
            ]
        ]
    },
    {
        "id": "a34efaafe8bfc3dc",
        "type": "debug",
        "z": "3932732c76a33296",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "details",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "a66dd25a9ffb7a7d",
        "type": "debug",
        "z": "3932732c76a33296",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "details",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 320,
        "wires": []
    },
    {
        "id": "c780943ebb61a4ba",
        "type": "influxdb out",
        "z": "3932732c76a33296",
        "influxdb": "f31dede1f911c00f",
        "name": "",
        "measurement": "moisture",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "univaq",
        "bucket": "iot",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "31b31fac32bc4b7f",
        "type": "influxdb out",
        "z": "3932732c76a33296",
        "influxdb": "f31dede1f911c00f",
        "name": "",
        "measurement": "humidity",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "univaq",
        "bucket": "iot",
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "ed7d374c64b66cec",
        "type": "comment",
        "z": "3932732c76a33296",
        "name": "",
        "info": "Gathers data from MQTT and stores it in InfluxDB",
        "x": 400,
        "y": 60,
        "wires": []
    },
    {
        "id": "9b7e591b98684881",
        "type": "mqtt in",
        "z": "3932732c76a33296",
        "name": "",
        "topic": "light/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "263cb68dcd37c7d7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 480,
        "wires": [
            [
                "caae5c45e2968754"
            ]
        ]
    },
    {
        "id": "32521d92d6f8bf0c",
        "type": "influxdb out",
        "z": "3932732c76a33296",
        "influxdb": "f31dede1f911c00f",
        "name": "",
        "measurement": "light",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "univaq",
        "bucket": "iot",
        "x": 700,
        "y": 500,
        "wires": []
    },
    {
        "id": "b7c1c3798593ee9f",
        "type": "debug",
        "z": "3932732c76a33296",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "details",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 540,
        "wires": []
    },
    {
        "id": "caae5c45e2968754",
        "type": "function",
        "z": "3932732c76a33296",
        "name": "function 17",
        "func": "var split_topic = msg.topic.split('/')\nvar id = split_topic[1]\n\nmsg.details = { id: id, payload: msg.payload }\n\nmsg.payload = [{\n    value: msg.payload\n},\n{\n    sensor_id: parseInt(id)\n}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 480,
        "wires": [
            [
                "b7c1c3798593ee9f",
                "32521d92d6f8bf0c"
            ]
        ]
    },
    {
        "id": "dd78f30cbf7a4142",
        "type": "http request",
        "z": "fbc0d0b01941c30f",
        "name": "Get sensor number",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 300,
        "wires": [
            [
                "cb4e4a39a39610e6"
            ]
        ]
    },
    {
        "id": "8a2f51784cdd143b",
        "type": "loop",
        "z": "fbc0d0b01941c30f",
        "name": "Loop on measurements",
        "kind": "enum",
        "count": "",
        "initial": "1",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "[\"temperature\",\"humidity\",\"moisture\"]",
        "enumerationType": "json",
        "limit": "",
        "loopPayload": "loop-val",
        "finalPayload": "final-last",
        "x": 430,
        "y": 80,
        "wires": [
            [],
            [
                "56ebe2fcda3b6f31"
            ]
        ]
    },
    {
        "id": "56ebe2fcda3b6f31",
        "type": "function",
        "z": "fbc0d0b01941c30f",
        "name": "Set measurement",
        "func": "msg.url = \"http://config:5008/config/sensors/\" + msg.loop.value\nmsg.measurement = msg.loop.value\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 300,
        "wires": [
            [
                "dd78f30cbf7a4142",
                "91e55caffcfaa774"
            ]
        ]
    },
    {
        "id": "5725f48d9456f7b6",
        "type": "inject",
        "z": "fbc0d0b01941c30f",
        "name": "",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1950,
        "y": 520,
        "wires": [
            [
                "be0e19115f4e81a3"
            ]
        ]
    },
    {
        "id": "c783b8e1bbdef085",
        "type": "loop",
        "z": "fbc0d0b01941c30f",
        "name": "Loop on moisture sensors",
        "kind": "fcnt",
        "count": "",
        "initial": "",
        "step": "",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "enum",
        "enumerationType": "msg",
        "limit": "",
        "loopPayload": "loop-val",
        "finalPayload": "final-count",
        "x": 1230,
        "y": 100,
        "wires": [
            [],
            [
                "f047312cb9796a18"
            ]
        ]
    },
    {
        "id": "cb4e4a39a39610e6",
        "type": "function",
        "z": "fbc0d0b01941c30f",
        "name": "Set iter number",
        "func": "var counter = msg.payload.data\nmsg.count = counter\nmsg.step = 1\nmsg.initial = 1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 300,
        "wires": [
            [
                "1485a3e86ec64335"
            ]
        ]
    },
    {
        "id": "f047312cb9796a18",
        "type": "function",
        "z": "fbc0d0b01941c30f",
        "name": "Generate query (moisture)",
        "func": "if(msg.measurement == 'moisture'){    \n    msg.query = `from(bucket: \"iot\")\n                |> range(start: -1m)\n                |> filter(fn: (r) => r[\"_measurement\"] == \"${msg.measurement}\")\n                |> filter(fn: (r) => r[\"_field\"] == \"value\")\n                |> filter(fn: (r) => r[\"plant_id\"] == \"${msg.payload}\")\n                |> sort(columns: [\"_time\"], desc: true)`\n}\nmsg.plant_id = msg.payload\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 220,
        "wires": [
            [
                "c783b8e1bbdef085",
                "5a9f82ae93507b34"
            ]
        ]
    },
    {
        "id": "91e55caffcfaa774",
        "type": "delay",
        "z": "fbc0d0b01941c30f",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 230,
        "y": 80,
        "wires": [
            [
                "8a2f51784cdd143b"
            ]
        ]
    },
    {
        "id": "5a9f82ae93507b34",
        "type": "influxdb in",
        "z": "fbc0d0b01941c30f",
        "influxdb": "f31dede1f911c00f",
        "name": "query",
        "query": "from(bucket: \"iot\")\n                |> range(start: -1m)\n                |> filter(fn: (r) => r[\"_measurement\"] == \"moisture\")\n                |> filter(fn: (r) => r[\"_field\"] == \"value\")\n                |> filter(fn: (r) => r[\"plant_id\"] == \"{moisture:3}\")\n                |> sort(columns: [\"_time\"], desc: true)\";",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "univaq",
        "x": 1450,
        "y": 300,
        "wires": [
            [
                "8113f4cc5f06f5cc"
            ]
        ]
    },
    {
        "id": "8113f4cc5f06f5cc",
        "type": "function",
        "z": "fbc0d0b01941c30f",
        "name": "Compute mean value",
        "func": "var payload = msg.payload\nvar sum = 0\nvar counter = 0\nfor (let index = 0; index < payload.length; index++) {\n    const element = payload[index]['_value'];\n    sum = sum + element;\n    counter = counter + 1\n}\nmsg.mean = (sum/counter) | 0\nmsg.debug = \"{\" + msg.measurement + \":\" + msg.payload + \"}\"\nmsg.url = \"http://config:5008/config/thresholds/\" + msg.measurement\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 300,
        "wires": [
            [
                "6d498dbcc1eb32e1"
            ]
        ]
    },
    {
        "id": "bbf7a1daeaf12bee",
        "type": "mqtt out",
        "z": "fbc0d0b01941c30f",
        "name": "Actuators",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "263cb68dcd37c7d7",
        "x": 2240,
        "y": 260,
        "wires": []
    },
    {
        "id": "1485a3e86ec64335",
        "type": "switch",
        "z": "fbc0d0b01941c30f",
        "name": "Check if moisture or not",
        "property": "measurement",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "moisture",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "moisture",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 300,
        "wires": [
            [
                "c783b8e1bbdef085"
            ],
            [
                "44e221846543b0bf"
            ]
        ]
    },
    {
        "id": "44e221846543b0bf",
        "type": "function",
        "z": "fbc0d0b01941c30f",
        "name": "Generate query (humidity, temperature)",
        "func": "msg.query = `from(bucket: \"iot\")\n                |> range(start: -1m)\n                |> filter(fn: (r) => r[\"_measurement\"] == \"${msg.measurement}\")\n                |> filter(fn: (r) => r[\"_field\"] == \"value\")\n                |> sort(columns: [\"_time\"], desc: true)`\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 380,
        "wires": [
            [
                "5a9f82ae93507b34"
            ]
        ]
    },
    {
        "id": "3230eff157053ab0",
        "type": "link in",
        "z": "fbc0d0b01941c30f",
        "name": "link in 1",
        "links": [
            "be0e19115f4e81a3"
        ],
        "x": 25,
        "y": 80,
        "wires": [
            [
                "91e55caffcfaa774"
            ]
        ]
    },
    {
        "id": "be0e19115f4e81a3",
        "type": "link out",
        "z": "fbc0d0b01941c30f",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "3230eff157053ab0"
        ],
        "x": 1375,
        "y": 460,
        "wires": []
    },
    {
        "id": "3b2059454a5ced97",
        "type": "function",
        "z": "fbc0d0b01941c30f",
        "name": "Check for adjustment",
        "func": "msg.down = msg.payload.data[0]\nmsg.up = msg.payload.data[1]\nvar temp = new Object()\ntemp.payload = msg.mean\ntemp.up = msg.up\ntemp.down = msg.down\ntemp.measurement = msg.measurement\nif(msg.plant_id){\n    temp.plant_id = msg.plant_id\n}\nmsg = temp\n\nvar map = {\n    \"moisture\": \"waterpump\",\n    \"humidity\": \"humidifier\",\n    \"temperature\": \"conditioner\"\n}\nvar topic = \"nothing\"\nmsg.debug = `No adjustment needed for ${msg.measurement}`\nif(msg.plant_id){\n    msg.debug += msg.plant_id\n}\nif(msg.payload < msg.down){\n    topic = map[msg.measurement] + \"/increase\"\n    if (msg.plant_id) {\n        topic += \"/\" + msg.plant_id\n    }\n    msg.debug = `Topic: ${topic}, Measurement: ${msg.measurement}, Value: ${msg.payload}, Up: ${msg.up}, Down: ${msg.down}`\n} else if(msg.payload > msg.up){\n    topic = map[msg.measurement] + \"/decrease\"\n    if (msg.plant_id) {\n        topic += \"/\" + msg.plant_id\n    }\n    msg.debug = `Topic: ${topic}, Measurement: ${msg.measurement}, Value: ${msg.payload}, Up: ${msg.up}, Down: ${msg.down}`\n}\n\nmsg.topic = topic\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2020,
        "y": 300,
        "wires": [
            [
                "9bab21cd25544483",
                "bbf7a1daeaf12bee"
            ]
        ]
    },
    {
        "id": "9bab21cd25544483",
        "type": "debug",
        "z": "fbc0d0b01941c30f",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "debug",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2240,
        "y": 340,
        "wires": []
    },
    {
        "id": "6d498dbcc1eb32e1",
        "type": "http request",
        "z": "fbc0d0b01941c30f",
        "name": "Get thresholds",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1820,
        "y": 300,
        "wires": [
            [
                "3b2059454a5ced97"
            ]
        ]
    },
    {
        "id": "6978d8cb0c4cf20d",
        "type": "ui_ui_control",
        "z": "701c2638a968d671",
        "name": "Change Tab",
        "events": "change",
        "x": 490,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "3795716768ac7578",
        "type": "ui_button",
        "z": "701c2638a968d671",
        "name": "",
        "group": "a18c5805eaf9e211",
        "order": 1,
        "width": 5,
        "height": 2,
        "passthru": false,
        "label": "Light",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-lightbulb-o",
        "payload": "4",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 270,
        "y": 280,
        "wires": [
            [
                "6978d8cb0c4cf20d"
            ]
        ]
    },
    {
        "id": "a823864edc382cfb",
        "type": "ui_button",
        "z": "701c2638a968d671",
        "name": "",
        "group": "a18c5805eaf9e211",
        "order": 2,
        "width": 5,
        "height": 2,
        "passthru": false,
        "label": "Temperature",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-thermometer-three-quarters",
        "payload": "2",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "6978d8cb0c4cf20d"
            ]
        ]
    },
    {
        "id": "808a6c022a532164",
        "type": "ui_button",
        "z": "701c2638a968d671",
        "name": "",
        "group": "a18c5805eaf9e211",
        "order": 3,
        "width": 5,
        "height": 2,
        "passthru": false,
        "label": "Humidity",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-shower",
        "payload": "3",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 280,
        "y": 220,
        "wires": [
            [
                "6978d8cb0c4cf20d"
            ]
        ]
    },
    {
        "id": "5cc10c9f34ab5880",
        "type": "ui_button",
        "z": "701c2638a968d671",
        "name": "",
        "group": "a18c5805eaf9e211",
        "order": 4,
        "width": 5,
        "height": 2,
        "passthru": false,
        "label": "Moisture",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-tint",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 280,
        "y": 100,
        "wires": [
            [
                "6978d8cb0c4cf20d"
            ]
        ]
    },
    {
        "id": "3a352c02134a6c67",
        "type": "influxdb in",
        "z": "b19e5976d932230f",
        "influxdb": "f31dede1f911c00f",
        "name": "temperature",
        "query": "from(bucket: \"iot\")\n  |> range(start: -1m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"temperature\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> sort(columns: [\"_time\"], desc: true)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "univaq",
        "x": 370,
        "y": 360,
        "wires": [
            [
                "fe68d3857501bbba"
            ]
        ]
    },
    {
        "id": "fe68d3857501bbba",
        "type": "function",
        "z": "b19e5976d932230f",
        "name": "function 19",
        "func": "var payload = msg.payload\nvar sum = 0\nvar counter = 0\nfor (let index = 0; index < payload.length; index++) {\n    const element = payload[index]['_value'];\n    sum = sum + element;\n    counter = counter + 1\n}\nmsg.payload = (sum/counter) | 0\nmsg.debug = { temperature : msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 360,
        "wires": [
            [
                "7c9af003f6c20b9b",
                "7c19811f07ec0c0b"
            ]
        ]
    },
    {
        "id": "557664fb8815efa6",
        "type": "function",
        "z": "b19e5976d932230f",
        "name": "function 20",
        "func": "var payload = msg.payload\nvar sum = 0\nvar counter = 0\nfor (let index = 0; index < payload.length; index++) {\n    const element = payload[index]['_value'];\n    sum = sum + element;\n    counter = counter + 1\n}\nmsg.payload = (sum / counter) | 0\nmsg.debug = { humidity : msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 520,
        "wires": [
            [
                "d1d39d969c193804",
                "e84a5a3297ea3255"
            ]
        ]
    },
    {
        "id": "11ad3deb06d0fa86",
        "type": "influxdb in",
        "z": "b19e5976d932230f",
        "influxdb": "f31dede1f911c00f",
        "name": "humidity",
        "query": "from(bucket: \"iot\")\n  |> range(start: -1m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"humidity\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> sort(columns: [\"_time\"], desc: true)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "univaq",
        "x": 370,
        "y": 520,
        "wires": [
            [
                "557664fb8815efa6"
            ]
        ]
    },
    {
        "id": "d1d39d969c193804",
        "type": "ui_gauge",
        "z": "b19e5976d932230f",
        "name": "",
        "group": "9bb8e820c92bb0f4",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#bf4e50",
            "#50c173",
            "#bf4e50"
        ],
        "seg1": "49",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 540,
        "wires": []
    },
    {
        "id": "58433652a7018638",
        "type": "ui_template",
        "z": "b19e5976d932230f",
        "group": "9bb8e820c92bb0f4",
        "name": "",
        "order": 2,
        "width": "12",
        "height": "8",
        "format": "<div style=\"border-radius: 10px; width: 100%; height: 100%; overflow: hidden;\">\n    <iframe src=\"http://localhost:3000/d-solo/47Y9EaJVz/new-dashboard?orgId=1&refresh=5s&theme=dark&panelId=3\"\n        width=\"100%\" height=\"100%\" frameborder=\"0\"></iframe>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 800,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "941fd6c36ac0c850",
        "type": "ui_template",
        "z": "b19e5976d932230f",
        "group": "0316f258592a1ce1",
        "name": "",
        "order": 2,
        "width": "12",
        "height": "8",
        "format": "<div style=\"border-radius: 10px; width: 100%; height: 100%; overflow: hidden;\">\n    <iframe src=\"http://localhost:3000/d-solo/47Y9EaJVz/new-dashboard?orgId=1&refresh=5s&theme=dark&panelId=2\"\n        width=\"100%\" height=\"100%\" frameborder=\"0\"></iframe>\n</div>\n<style>\n    [node-id=\"7c9af003f6c20b9b\"]> div {\n        padding-top: 1.1em\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 800,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "7c9af003f6c20b9b",
        "type": "ui_widget_thermometer",
        "z": "b19e5976d932230f",
        "group": "0316f258592a1ce1",
        "order": 1,
        "width": "6",
        "height": "6",
        "name": "Greenhouse Temperature",
        "title": "Greenhouse Temperature",
        "numColor": 3,
        "colorTop": "#f41f1f",
        "colorMiddle": "#8bc34a",
        "colorBottom": "#34c4f4",
        "unit": "°C",
        "scale": "normal",
        "minTemp": "0",
        "maxTemp": "50",
        "x": 850,
        "y": 360,
        "wires": []
    },
    {
        "id": "fd1f1b8fdd67f107",
        "type": "ui_widget_bulb_basic",
        "z": "b19e5976d932230f",
        "group": "1b941d3e969bc03d",
        "order": 2,
        "width": 4,
        "height": 6,
        "name": "",
        "title": "Light Bulb",
        "color": "#feefd8",
        "x": 810,
        "y": 780,
        "wires": []
    },
    {
        "id": "9f30fb1d1a9ea8ab",
        "type": "function",
        "z": "b19e5976d932230f",
        "name": "function 21",
        "func": "var payload = msg.payload\nvar sum = 0\nvar counter = 0\nfor (let index = 0; index < payload.length; index++) {\n    const element = payload[index]['_value'];\n    sum = sum + element;\n    counter = counter + 1\n}\nmsg.payload = (sum / counter) | 0\nmsg.debug = { humidity : msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 700,
        "wires": [
            [
                "0fe2a169d9480ab1",
                "cee1d9dc88ae6812"
            ]
        ]
    },
    {
        "id": "c09c422db43f1e0a",
        "type": "influxdb in",
        "z": "b19e5976d932230f",
        "influxdb": "f31dede1f911c00f",
        "name": "light",
        "query": "from(bucket: \"iot\")\n  |> range(start: -6s)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"light\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> sort(columns: [\"_time\"], desc: true)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "univaq",
        "x": 360,
        "y": 700,
        "wires": [
            [
                "9f30fb1d1a9ea8ab"
            ]
        ]
    },
    {
        "id": "0fe2a169d9480ab1",
        "type": "ui_gauge",
        "z": "b19e5976d932230f",
        "name": "",
        "group": "1b941d3e969bc03d",
        "order": 1,
        "width": 6,
        "height": 8,
        "gtype": "donut",
        "title": "Light Levels",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "255",
        "colors": [
            "#000000",
            "#848243",
            "#fff700"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 700,
        "wires": []
    },
    {
        "id": "3895462f34d584b7",
        "type": "ui_template",
        "z": "b19e5976d932230f",
        "group": "1b941d3e969bc03d",
        "name": "",
        "order": 3,
        "width": 12,
        "height": 8,
        "format": "<div style=\"border-radius: 10px; width: 100%; height: 100%; overflow: hidden;\">\n    <iframe src=\"http://localhost:3000/d-solo/47Y9EaJVz/new-dashboard?orgId=1&refresh=5s&theme=dark&panelId=1\"\n        width=\"100%\" height=\"100%\" frameborder=\"0\"></iframe>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 800,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "2ebedcc2d0c51986",
        "type": "ui_switch",
        "z": "b19e5976d932230f",
        "name": "",
        "label": "Light switch",
        "tooltip": "",
        "group": "1b941d3e969bc03d",
        "order": 4,
        "width": 4,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "lightbulb",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 610,
        "y": 780,
        "wires": [
            [
                "fd1f1b8fdd67f107",
                "8563374f3c5f685d"
            ]
        ]
    },
    {
        "id": "7c19811f07ec0c0b",
        "type": "ui_widget_thermometer",
        "z": "b19e5976d932230f",
        "group": "ed1fa014b13bf2e3",
        "order": 1,
        "width": 6,
        "height": 6,
        "name": "Greenhouse Temperature Dashboard",
        "title": "Temperature",
        "numColor": 3,
        "colorTop": "#f41f1f",
        "colorMiddle": "#8bc34a",
        "colorBottom": "#34c4f4",
        "unit": "°C",
        "scale": "normal",
        "minTemp": "0",
        "maxTemp": "50",
        "x": 890,
        "y": 320,
        "wires": []
    },
    {
        "id": "5f521ed45b4d5f5b",
        "type": "ui_template",
        "z": "b19e5976d932230f",
        "group": "",
        "name": "",
        "order": 8,
        "width": 1,
        "height": 1,
        "format": "<style>\n    [node-id=\"7c9af003f6c20b9b\"]> div {\n        padding-top: 1.1em\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 800,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "cee1d9dc88ae6812",
        "type": "ui_gauge",
        "z": "b19e5976d932230f",
        "name": "",
        "group": "ed1fa014b13bf2e3",
        "order": 3,
        "width": 7,
        "height": 6,
        "gtype": "donut",
        "title": "Light Levels",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "255",
        "colors": [
            "#000000",
            "#848243",
            "#fff700"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 660,
        "wires": []
    },
    {
        "id": "e84a5a3297ea3255",
        "type": "ui_gauge",
        "z": "b19e5976d932230f",
        "name": "",
        "group": "ed1fa014b13bf2e3",
        "order": 2,
        "width": 7,
        "height": 6,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#bf4e50",
            "#50c173",
            "#bf4e50"
        ],
        "seg1": "49",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 500,
        "wires": []
    },
    {
        "id": "8563374f3c5f685d",
        "type": "mqtt out",
        "z": "b19e5976d932230f",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "263cb68dcd37c7d7",
        "x": 690,
        "y": 1100,
        "wires": []
    },
    {
        "id": "3d28116fcc6e9852",
        "type": "inject",
        "z": "b19e5976d932230f",
        "name": "",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "3a352c02134a6c67",
                "11ad3deb06d0fa86",
                "c09c422db43f1e0a"
            ]
        ]
    },
    {
        "id": "6e4c47210f08fc27",
        "type": "ui_button",
        "z": "b19e5976d932230f",
        "name": "",
        "group": "0316f258592a1ce1",
        "order": 3,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "+2º C",
        "tooltip": "",
        "color": "",
        "bgcolor": "#50bf6e",
        "className": "",
        "icon": "fa-arrow-up",
        "payload": "",
        "payloadType": "str",
        "topic": "conditioner/increase",
        "topicType": "str",
        "x": 470,
        "y": 1220,
        "wires": [
            [
                "8563374f3c5f685d"
            ]
        ]
    },
    {
        "id": "601235239eb49937",
        "type": "ui_button",
        "z": "b19e5976d932230f",
        "name": "",
        "group": "0316f258592a1ce1",
        "order": 4,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "-2º C",
        "tooltip": "",
        "color": "",
        "bgcolor": "#bf5050",
        "className": "",
        "icon": "fa-arrow-down",
        "payload": "",
        "payloadType": "str",
        "topic": "conditioner/decrease",
        "topicType": "str",
        "x": 470,
        "y": 1280,
        "wires": [
            [
                "8563374f3c5f685d"
            ]
        ]
    },
    {
        "id": "f4932bf93cf5bf23",
        "type": "ui_button",
        "z": "b19e5976d932230f",
        "name": "",
        "group": "9bb8e820c92bb0f4",
        "order": 3,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "+10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#50bf6e",
        "className": "",
        "icon": "fa-arrow-up",
        "payload": "",
        "payloadType": "str",
        "topic": "humidifier/increase",
        "topicType": "str",
        "x": 670,
        "y": 1220,
        "wires": [
            [
                "8563374f3c5f685d"
            ]
        ]
    },
    {
        "id": "c6f3928bbff259dd",
        "type": "ui_button",
        "z": "b19e5976d932230f",
        "name": "",
        "group": "9bb8e820c92bb0f4",
        "order": 4,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "-10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#bf5050",
        "className": "",
        "icon": "fa-arrow-down",
        "payload": "",
        "payloadType": "str",
        "topic": "humidifier/decrease",
        "topicType": "str",
        "x": 670,
        "y": 1280,
        "wires": [
            [
                "8563374f3c5f685d"
            ]
        ]
    },
    {
        "id": "d98032308a0e85cc",
        "type": "ui_template",
        "z": "5a2954b694d1f123",
        "group": "",
        "name": "Dashboard Theme : Modern Dark",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div>\n    <link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap\" rel=\"stylesheet\">\n    <style>\n        body {\n            --background: #212529;\n            --on-background: white;\n            --surface: #2d3136;\n            --on-surface: white;\n            --primary: var(--nr-dashboard-widgetColor);\n            --on-primary: white;\n            --secondary: var(--nr-dashboard-groupTextColor);\n            --accent: red;\n            --radius-s: 8px;\n            --font-weight-m: 300;\n            --font-weight-m: 500;\n            --font-weight-l: 700;\n            --space-s: 8px;\n            --space-m: 16px;\n            --space-l: 32px;\n        }\n\n        body.nr-dashboard-theme {\n            background-color: var(--background);\n            font-family: 'Montserrat', sans-serif;\n        }\n        .nr-dashboard-theme ui-card-panel {\n            background-color: var(--background);\n            border: 0;\n        }\n        .nr-dashboard-theme .nr-dashboard-button .md-button {\n            background-color: var(--primary);\n            border-radius: var(--radius-s);\n            padding: 8px !important;\n            line-height: inherit;\n            font-weight: var(--font-weight-l);\n            font-size: 25px;\n            color: var(--on-primary);\n        }\n        .nr-dashboard-theme [ui-card-size=\"2x2\"].nr-dashboard-button .md-button {\n            display: flex;\n            flex-direction: column;\n            justify-content: center;\n            align-items: center;\n            white-space: pre-line;\n        }\n        \n        .nr-dashboard-theme .nr-dashboard-button .md-button ui-icon {\n                margin-bottom: 8px;\n        }\n        .nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n            background-color: var(--secondary);\n        }\n        body.nr-dashboard-theme md-content md-card {\n            background-color: var(--surface);\n        }\n        md-card.md-default-theme, md-card {\n            border-radius: var(--radius-s);\n        }\n        .nr-dashboard-theme .nr-dashboard-gauge-titlel {\n            font-weight: var(--font-weight-l) !important;      \n        }\n        .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n            font-weight: var(--font-weight-l);  \n            text-transform: capitalize;\n            color: var(--on-background);\n        }\n        .nr-dashboard-cardpanel > p {\n            margin-left: 0;\n            padding-left: 16px;\n        }\n        body.nr-dashboard-theme md-toolbar {\n            background-color: var(--surface);\n        }\n        .md-default-theme .md-datepicker-calendar, .md-datepicker-calendar,\n        .md-default-theme .md-calendar, .md-calendar{\n            background-color: var(--surface);\n            color: var(--on-surface);\n        }\n        .md-default-theme .md-datepicker-calendar-pane, .md-datepicker-calendar-pane{\n            border: 0;\n        }\n        .md-default-theme .md-calendar-month-label md-icon, .md-calendar-month-label md-icon, .md-default-theme .md-datepicker-input, .md-datepicker-input {\n            color: var(--on-surface);\n        }\n        body.nr-dashboard-theme md-content md-card {\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-numeric .value {\n            background-color: var(--surface);\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value, .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value.md-select-placeholder {\n            color: var(--on-surface);\n            border-color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-dropdown .md-select-icon {\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-date-picker md-input-container .md-input {\n            color: var(--on-surface);\n            border-color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-date-picker .md-datepicker-triangle-button .md-datepicker-expand-triangle {\n            border-top-color: var(--on-surface);\n        }\n        body.nr-dashboard-theme md-sidenav {\n            background-color: var(--surface);\n        }\n        md-list-item._md-button-wrap > div.md-button:first-child, md-list-item .md-list-item-inner {\n            background-color: var(--surface);\n        }\n        .big-font{\n        font-size: 0.8em\n        }\n        .percent{\n        display: none;\n        margin-left: 10px;\n        text-shadow: none;\n        font-style: normal;\n        font-family: 'Montserrat', sans-serif;\n        }\n\n        .nr-dashboard-theme .nr-dashboard-template{\n            background-color: var(--surface)\n        }\n    </style>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 420,
        "y": 200,
        "wires": [
            []
        ],
        "icon": "node-red-dashboard/ui_colour_picker.png",
        "info": "# Modern Dark Theme for node-red-dashboard\n\nInspired by Victor Lucachi with his [Node Red Dashboard Concept](https://dribbble.com/shots/10356530-Node-Red-Dashboard-Concept) on Dribbble. Thank you for your work.\n\n## Customize\n\n1. Go on dashboard customisation tab (At the right of Debug Console).\n2. Select the style `Dark`.\n3. Pick the color you want. Example `#66B5F8`\n\n## Buttons\n\nUse `2x2` size for buttons with icon and text on the screenshot"
    },
    {
        "type": "tab",
        "label": "Moisture",
        "id": "defe06b98099d327",
        "info": "",
        "disabled": false,
        "env": []
    },
    {
        "id": "wave1",
        "type": "ui_gauge",
        "z": "defe06b98099d327",
        "name": "",
        "group": "uigroup1",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#00b500",
            "#b30000"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 60,
        "wires": []
    },
    {
        "id": "plant1",
        "type": "ui_gauge",
        "z": "defe06b98099d327",
        "name": "",
        "group": "df0de8f973aaf073",
        "order": 2,
        "width": 5,
        "height": 5,
        "gtype": "wave",
        "title": "Plant 1",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#00b500",
            "#b30000"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "template1",
        "type": "ui_template",
        "z": "defe06b98099d327",
        "group": "uigroup1",
        "name": "template1",
        "order": 2,
        "width": "12",
        "height": "8",
        "format": "<div style=\"border-radius: 10px; width: 100%; height: 100%; overflow: hidden;\">\n    <iframe src=\"http://localhost:3000/d-solo/47Y9EaJVz/new-dashboard?orgId=1&refresh=5s&theme=dark&panelId=4\"\n    width=\"100%\" height=\"100%\" frameborder=\"0\"></iframe>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "function1",
        "type": "function",
        "z": "defe06b98099d327",
        "name": "function1",
        "func": "var payload = msg.payload\nvar sum = 0\nvar counter = 0\nfor (let index = 0; index < payload.length; index++) {\n    const element = payload[index]['_value'];\n    sum = sum + element;\n    counter = counter + 1\n}\nmsg.payload = (sum/counter) | 0\nmsg.debug = { '1': msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 60,
        "wires": [
            [
                "plant1",
                "wave1"
            ]
        ]
    },
    {
        "id": "query1",
        "type": "influxdb in",
        "z": "defe06b98099d327",
        "influxdb": "f31dede1f911c00f",
        "name": "query1",
        "query": "from(bucket: \"iot\")\n  |> range(start: -1m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"moisture\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"plant_id\"] == \"1\")\n  |> sort(columns: [\"_time\"], desc: true)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "univaq",
        "x": 240,
        "y": 60,
        "wires": [
            [
                "function1"
            ]
        ]
    },
    {
        "id": "button_plus1",
        "type": "ui_button",
        "z": "defe06b98099d327",
        "name": "",
        "group": "uigroup1",
        "order": 3,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "+10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#50bf6e",
        "className": "",
        "icon": "fa-arrow-up",
        "payload": "",
        "payloadType": "str",
        "topic": "waterpump/increase/1",
        "topicType": "str",
        "x": 170,
        "y": 860,
        "wires": [
            [
                "mqtt_out"
            ]
        ]
    },
    {
        "id": "button_minus1",
        "type": "ui_button",
        "z": "defe06b98099d327",
        "name": "",
        "group": "uigroup1",
        "order": 4,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "-10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#bf5050",
        "className": "",
        "icon": "fa-arrow-down",
        "payload": "",
        "payloadType": "str",
        "topic": "waterpump/decrease/1",
        "topicType": "str",
        "x": 170,
        "y": 910,
        "wires": [
            [
                "mqtt_out"
            ]
        ]
    },
    {
        "id": "wave2",
        "type": "ui_gauge",
        "z": "defe06b98099d327",
        "name": "",
        "group": "uigroup2",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#00b500",
            "#b30000"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 210,
        "wires": []
    },
    {
        "id": "plant2",
        "type": "ui_gauge",
        "z": "defe06b98099d327",
        "name": "",
        "group": "df0de8f973aaf073",
        "order": 2,
        "width": 5,
        "height": 5,
        "gtype": "wave",
        "title": "Plant 2",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#00b500",
            "#b30000"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 250,
        "wires": []
    },
    {
        "id": "template2",
        "type": "ui_template",
        "z": "defe06b98099d327",
        "group": "uigroup2",
        "name": "template2",
        "order": 2,
        "width": "12",
        "height": "8",
        "format": "<div style=\"border-radius: 10px; width: 100%; height: 100%; overflow: hidden;\">\n    <iframe src=\"http://localhost:3000/d-solo/47Y9EaJVz/new-dashboard?orgId=1&refresh=5s&theme=dark&panelId=5\"\n    width=\"100%\" height=\"100%\" frameborder=\"0\"></iframe>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 170,
        "wires": [
            []
        ]
    },
    {
        "id": "function2",
        "type": "function",
        "z": "defe06b98099d327",
        "name": "function2",
        "func": "var payload = msg.payload\nvar sum = 0\nvar counter = 0\nfor (let index = 0; index < payload.length; index++) {\n    const element = payload[index]['_value'];\n    sum = sum + element;\n    counter = counter + 1\n}\nmsg.payload = (sum/counter) | 0\nmsg.debug = { '1': msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 210,
        "wires": [
            [
                "plant2",
                "wave2"
            ]
        ]
    },
    {
        "id": "query2",
        "type": "influxdb in",
        "z": "defe06b98099d327",
        "influxdb": "f31dede1f911c00f",
        "name": "query2",
        "query": "from(bucket: \"iot\")\n  |> range(start: -1m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"moisture\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"plant_id\"] == \"2\")\n  |> sort(columns: [\"_time\"], desc: true)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "univaq",
        "x": 240,
        "y": 210,
        "wires": [
            [
                "function2"
            ]
        ]
    },
    {
        "id": "button_plus2",
        "type": "ui_button",
        "z": "defe06b98099d327",
        "name": "",
        "group": "uigroup2",
        "order": 3,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "+10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#50bf6e",
        "className": "",
        "icon": "fa-arrow-up",
        "payload": "",
        "payloadType": "str",
        "topic": "waterpump/increase/2",
        "topicType": "str",
        "x": 170,
        "y": 1010,
        "wires": [
            [
                "mqtt_out"
            ]
        ]
    },
    {
        "id": "button_minus2",
        "type": "ui_button",
        "z": "defe06b98099d327",
        "name": "",
        "group": "uigroup2",
        "order": 4,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "-10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#bf5050",
        "className": "",
        "icon": "fa-arrow-down",
        "payload": "",
        "payloadType": "str",
        "topic": "waterpump/decrease/2",
        "topicType": "str",
        "x": 170,
        "y": 1060,
        "wires": [
            [
                "mqtt_out"
            ]
        ]
    },
    {
        "id": "wave3",
        "type": "ui_gauge",
        "z": "defe06b98099d327",
        "name": "",
        "group": "uigroup3",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#00b500",
            "#b30000"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 360,
        "wires": []
    },
    {
        "id": "plant3",
        "type": "ui_gauge",
        "z": "defe06b98099d327",
        "name": "",
        "group": "df0de8f973aaf073",
        "order": 2,
        "width": 5,
        "height": 5,
        "gtype": "wave",
        "title": "Plant 3",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#00b500",
            "#b30000"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 400,
        "wires": []
    },
    {
        "id": "template3",
        "type": "ui_template",
        "z": "defe06b98099d327",
        "group": "uigroup3",
        "name": "template3",
        "order": 2,
        "width": "12",
        "height": "8",
        "format": "<div style=\"border-radius: 10px; width: 100%; height: 100%; overflow: hidden;\">\n    <iframe src=\"http://localhost:3000/d-solo/47Y9EaJVz/new-dashboard?orgId=1&refresh=5s&theme=dark&panelId=6\"\n    width=\"100%\" height=\"100%\" frameborder=\"0\"></iframe>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "function3",
        "type": "function",
        "z": "defe06b98099d327",
        "name": "function3",
        "func": "var payload = msg.payload\nvar sum = 0\nvar counter = 0\nfor (let index = 0; index < payload.length; index++) {\n    const element = payload[index]['_value'];\n    sum = sum + element;\n    counter = counter + 1\n}\nmsg.payload = (sum/counter) | 0\nmsg.debug = { '1': msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 360,
        "wires": [
            [
                "plant3",
                "wave3"
            ]
        ]
    },
    {
        "id": "query3",
        "type": "influxdb in",
        "z": "defe06b98099d327",
        "influxdb": "f31dede1f911c00f",
        "name": "query3",
        "query": "from(bucket: \"iot\")\n  |> range(start: -1m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"moisture\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"plant_id\"] == \"3\")\n  |> sort(columns: [\"_time\"], desc: true)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "univaq",
        "x": 240,
        "y": 360,
        "wires": [
            [
                "function3"
            ]
        ]
    },
    {
        "id": "button_plus3",
        "type": "ui_button",
        "z": "defe06b98099d327",
        "name": "",
        "group": "uigroup3",
        "order": 3,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "+10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#50bf6e",
        "className": "",
        "icon": "fa-arrow-up",
        "payload": "",
        "payloadType": "str",
        "topic": "waterpump/increase/3",
        "topicType": "str",
        "x": 170,
        "y": 1160,
        "wires": [
            [
                "mqtt_out"
            ]
        ]
    },
    {
        "id": "button_minus3",
        "type": "ui_button",
        "z": "defe06b98099d327",
        "name": "",
        "group": "uigroup3",
        "order": 4,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "-10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#bf5050",
        "className": "",
        "icon": "fa-arrow-down",
        "payload": "",
        "payloadType": "str",
        "topic": "waterpump/decrease/3",
        "topicType": "str",
        "x": 170,
        "y": 1210,
        "wires": [
            [
                "mqtt_out"
            ]
        ]
    },
    {
        "id": "wave4",
        "type": "ui_gauge",
        "z": "defe06b98099d327",
        "name": "",
        "group": "uigroup4",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#00b500",
            "#b30000"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 510,
        "wires": []
    },
    {
        "id": "plant4",
        "type": "ui_gauge",
        "z": "defe06b98099d327",
        "name": "",
        "group": "df0de8f973aaf073",
        "order": 2,
        "width": 5,
        "height": 5,
        "gtype": "wave",
        "title": "Plant 4",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#00b500",
            "#b30000"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 550,
        "wires": []
    },
    {
        "id": "template4",
        "type": "ui_template",
        "z": "defe06b98099d327",
        "group": "uigroup4",
        "name": "template4",
        "order": 2,
        "width": "12",
        "height": "8",
        "format": "<div style=\"border-radius: 10px; width: 100%; height: 100%; overflow: hidden;\">\n    <iframe src=\"http://localhost:3000/d-solo/47Y9EaJVz/new-dashboard?orgId=1&refresh=5s&theme=dark&panelId=7\"\n    width=\"100%\" height=\"100%\" frameborder=\"0\"></iframe>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 470,
        "wires": [
            []
        ]
    },
    {
        "id": "function4",
        "type": "function",
        "z": "defe06b98099d327",
        "name": "function4",
        "func": "var payload = msg.payload\nvar sum = 0\nvar counter = 0\nfor (let index = 0; index < payload.length; index++) {\n    const element = payload[index]['_value'];\n    sum = sum + element;\n    counter = counter + 1\n}\nmsg.payload = (sum/counter) | 0\nmsg.debug = { '1': msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 510,
        "wires": [
            [
                "plant4",
                "wave4"
            ]
        ]
    },
    {
        "id": "query4",
        "type": "influxdb in",
        "z": "defe06b98099d327",
        "influxdb": "f31dede1f911c00f",
        "name": "query4",
        "query": "from(bucket: \"iot\")\n  |> range(start: -1m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"moisture\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"plant_id\"] == \"4\")\n  |> sort(columns: [\"_time\"], desc: true)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "univaq",
        "x": 240,
        "y": 510,
        "wires": [
            [
                "function4"
            ]
        ]
    },
    {
        "id": "button_plus4",
        "type": "ui_button",
        "z": "defe06b98099d327",
        "name": "",
        "group": "uigroup4",
        "order": 3,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "+10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#50bf6e",
        "className": "",
        "icon": "fa-arrow-up",
        "payload": "",
        "payloadType": "str",
        "topic": "waterpump/increase/4",
        "topicType": "str",
        "x": 170,
        "y": 1310,
        "wires": [
            [
                "mqtt_out"
            ]
        ]
    },
    {
        "id": "button_minus4",
        "type": "ui_button",
        "z": "defe06b98099d327",
        "name": "",
        "group": "uigroup4",
        "order": 4,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "-10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#bf5050",
        "className": "",
        "icon": "fa-arrow-down",
        "payload": "",
        "payloadType": "str",
        "topic": "waterpump/decrease/4",
        "topicType": "str",
        "x": 170,
        "y": 1360,
        "wires": [
            [
                "mqtt_out"
            ]
        ]
    },
    {
        "id": "wave5",
        "type": "ui_gauge",
        "z": "defe06b98099d327",
        "name": "",
        "group": "uigroup5",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#00b500",
            "#b30000"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 660,
        "wires": []
    },
    {
        "id": "plant5",
        "type": "ui_gauge",
        "z": "defe06b98099d327",
        "name": "",
        "group": "df0de8f973aaf073",
        "order": 2,
        "width": 5,
        "height": 5,
        "gtype": "wave",
        "title": "Plant 5",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#00b500",
            "#b30000"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 700,
        "wires": []
    },
    {
        "id": "template5",
        "type": "ui_template",
        "z": "defe06b98099d327",
        "group": "uigroup5",
        "name": "template5",
        "order": 2,
        "width": "12",
        "height": "8",
        "format": "<div style=\"border-radius: 10px; width: 100%; height: 100%; overflow: hidden;\">\n    <iframe src=\"http://localhost:3000/d-solo/47Y9EaJVz/new-dashboard?orgId=1&refresh=5s&theme=dark&panelId=8\"\n    width=\"100%\" height=\"100%\" frameborder=\"0\"></iframe>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "function5",
        "type": "function",
        "z": "defe06b98099d327",
        "name": "function5",
        "func": "var payload = msg.payload\nvar sum = 0\nvar counter = 0\nfor (let index = 0; index < payload.length; index++) {\n    const element = payload[index]['_value'];\n    sum = sum + element;\n    counter = counter + 1\n}\nmsg.payload = (sum/counter) | 0\nmsg.debug = { '1': msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 660,
        "wires": [
            [
                "plant5",
                "wave5"
            ]
        ]
    },
    {
        "id": "query5",
        "type": "influxdb in",
        "z": "defe06b98099d327",
        "influxdb": "f31dede1f911c00f",
        "name": "query5",
        "query": "from(bucket: \"iot\")\n  |> range(start: -1m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"moisture\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"plant_id\"] == \"5\")\n  |> sort(columns: [\"_time\"], desc: true)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "univaq",
        "x": 240,
        "y": 660,
        "wires": [
            [
                "function5"
            ]
        ]
    },
    {
        "id": "button_plus5",
        "type": "ui_button",
        "z": "defe06b98099d327",
        "name": "",
        "group": "uigroup5",
        "order": 3,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "+10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#50bf6e",
        "className": "",
        "icon": "fa-arrow-up",
        "payload": "",
        "payloadType": "str",
        "topic": "waterpump/increase/5",
        "topicType": "str",
        "x": 170,
        "y": 1460,
        "wires": [
            [
                "mqtt_out"
            ]
        ]
    },
    {
        "id": "button_minus5",
        "type": "ui_button",
        "z": "defe06b98099d327",
        "name": "",
        "group": "uigroup5",
        "order": 4,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "-10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#bf5050",
        "className": "",
        "icon": "fa-arrow-down",
        "payload": "",
        "payloadType": "str",
        "topic": "waterpump/decrease/5",
        "topicType": "str",
        "x": 170,
        "y": 1510,
        "wires": [
            [
                "mqtt_out"
            ]
        ]
    },
    {
        "id": "wave6",
        "type": "ui_gauge",
        "z": "defe06b98099d327",
        "name": "",
        "group": "uigroup6",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#00b500",
            "#b30000"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 810,
        "wires": []
    },
    {
        "id": "plant6",
        "type": "ui_gauge",
        "z": "defe06b98099d327",
        "name": "",
        "group": "df0de8f973aaf073",
        "order": 2,
        "width": 5,
        "height": 5,
        "gtype": "wave",
        "title": "Plant 6",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#00b500",
            "#b30000"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 850,
        "wires": []
    },
    {
        "id": "template6",
        "type": "ui_template",
        "z": "defe06b98099d327",
        "group": "uigroup6",
        "name": "template6",
        "order": 2,
        "width": "12",
        "height": "8",
        "format": "<div style=\"border-radius: 10px; width: 100%; height: 100%; overflow: hidden;\">\n    <iframe src=\"http://localhost:3000/d-solo/47Y9EaJVz/new-dashboard?orgId=1&refresh=5s&theme=dark&panelId=9\"\n    width=\"100%\" height=\"100%\" frameborder=\"0\"></iframe>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 770,
        "wires": [
            []
        ]
    },
    {
        "id": "function6",
        "type": "function",
        "z": "defe06b98099d327",
        "name": "function6",
        "func": "var payload = msg.payload\nvar sum = 0\nvar counter = 0\nfor (let index = 0; index < payload.length; index++) {\n    const element = payload[index]['_value'];\n    sum = sum + element;\n    counter = counter + 1\n}\nmsg.payload = (sum/counter) | 0\nmsg.debug = { '1': msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 810,
        "wires": [
            [
                "plant6",
                "wave6"
            ]
        ]
    },
    {
        "id": "query6",
        "type": "influxdb in",
        "z": "defe06b98099d327",
        "influxdb": "f31dede1f911c00f",
        "name": "query6",
        "query": "from(bucket: \"iot\")\n  |> range(start: -1m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"moisture\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"plant_id\"] == \"6\")\n  |> sort(columns: [\"_time\"], desc: true)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "univaq",
        "x": 240,
        "y": 810,
        "wires": [
            [
                "function6"
            ]
        ]
    },
    {
        "id": "button_plus6",
        "type": "ui_button",
        "z": "defe06b98099d327",
        "name": "",
        "group": "uigroup6",
        "order": 3,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "+10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#50bf6e",
        "className": "",
        "icon": "fa-arrow-up",
        "payload": "",
        "payloadType": "str",
        "topic": "waterpump/increase/6",
        "topicType": "str",
        "x": 170,
        "y": 1610,
        "wires": [
            [
                "mqtt_out"
            ]
        ]
    },
    {
        "id": "button_minus6",
        "type": "ui_button",
        "z": "defe06b98099d327",
        "name": "",
        "group": "uigroup6",
        "order": 4,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "-10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#bf5050",
        "className": "",
        "icon": "fa-arrow-down",
        "payload": "",
        "payloadType": "str",
        "topic": "waterpump/decrease/6",
        "topicType": "str",
        "x": 170,
        "y": 1660,
        "wires": [
            [
                "mqtt_out"
            ]
        ]
    },
    {
        "id": "wave7",
        "type": "ui_gauge",
        "z": "defe06b98099d327",
        "name": "",
        "group": "uigroup7",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#00b500",
            "#b30000"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 960,
        "wires": []
    },
    {
        "id": "plant7",
        "type": "ui_gauge",
        "z": "defe06b98099d327",
        "name": "",
        "group": "df0de8f973aaf073",
        "order": 2,
        "width": 5,
        "height": 5,
        "gtype": "wave",
        "title": "Plant 7",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#00b500",
            "#b30000"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 1000,
        "wires": []
    },
    {
        "id": "template7",
        "type": "ui_template",
        "z": "defe06b98099d327",
        "group": "uigroup7",
        "name": "template7",
        "order": 2,
        "width": "12",
        "height": "8",
        "format": "<div style=\"border-radius: 10px; width: 100%; height: 100%; overflow: hidden;\">\n    <iframe src=\"http://localhost:3000/d-solo/47Y9EaJVz/new-dashboard?orgId=1&refresh=5s&theme=dark&panelId=10\"\n    width=\"100%\" height=\"100%\" frameborder=\"0\"></iframe>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "function7",
        "type": "function",
        "z": "defe06b98099d327",
        "name": "function7",
        "func": "var payload = msg.payload\nvar sum = 0\nvar counter = 0\nfor (let index = 0; index < payload.length; index++) {\n    const element = payload[index]['_value'];\n    sum = sum + element;\n    counter = counter + 1\n}\nmsg.payload = (sum/counter) | 0\nmsg.debug = { '1': msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 960,
        "wires": [
            [
                "plant7",
                "wave7"
            ]
        ]
    },
    {
        "id": "query7",
        "type": "influxdb in",
        "z": "defe06b98099d327",
        "influxdb": "f31dede1f911c00f",
        "name": "query7",
        "query": "from(bucket: \"iot\")\n  |> range(start: -1m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"moisture\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"plant_id\"] == \"7\")\n  |> sort(columns: [\"_time\"], desc: true)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "univaq",
        "x": 240,
        "y": 960,
        "wires": [
            [
                "function7"
            ]
        ]
    },
    {
        "id": "button_plus7",
        "type": "ui_button",
        "z": "defe06b98099d327",
        "name": "",
        "group": "uigroup7",
        "order": 3,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "+10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#50bf6e",
        "className": "",
        "icon": "fa-arrow-up",
        "payload": "",
        "payloadType": "str",
        "topic": "waterpump/increase/7",
        "topicType": "str",
        "x": 170,
        "y": 1760,
        "wires": [
            [
                "mqtt_out"
            ]
        ]
    },
    {
        "id": "button_minus7",
        "type": "ui_button",
        "z": "defe06b98099d327",
        "name": "",
        "group": "uigroup7",
        "order": 4,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "-10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#bf5050",
        "className": "",
        "icon": "fa-arrow-down",
        "payload": "",
        "payloadType": "str",
        "topic": "waterpump/decrease/7",
        "topicType": "str",
        "x": 170,
        "y": 1810,
        "wires": [
            [
                "mqtt_out"
            ]
        ]
    },
    {
        "id": "wave8",
        "type": "ui_gauge",
        "z": "defe06b98099d327",
        "name": "",
        "group": "uigroup8",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#00b500",
            "#b30000"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 1110,
        "wires": []
    },
    {
        "id": "plant8",
        "type": "ui_gauge",
        "z": "defe06b98099d327",
        "name": "",
        "group": "df0de8f973aaf073",
        "order": 2,
        "width": 5,
        "height": 5,
        "gtype": "wave",
        "title": "Plant 8",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#00b500",
            "#b30000"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 1150,
        "wires": []
    },
    {
        "id": "template8",
        "type": "ui_template",
        "z": "defe06b98099d327",
        "group": "uigroup8",
        "name": "template8",
        "order": 2,
        "width": "12",
        "height": "8",
        "format": "<div style=\"border-radius: 10px; width: 100%; height: 100%; overflow: hidden;\">\n    <iframe src=\"http://localhost:3000/d-solo/47Y9EaJVz/new-dashboard?orgId=1&refresh=5s&theme=dark&panelId=11\"\n    width=\"100%\" height=\"100%\" frameborder=\"0\"></iframe>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 1070,
        "wires": [
            []
        ]
    },
    {
        "id": "function8",
        "type": "function",
        "z": "defe06b98099d327",
        "name": "function8",
        "func": "var payload = msg.payload\nvar sum = 0\nvar counter = 0\nfor (let index = 0; index < payload.length; index++) {\n    const element = payload[index]['_value'];\n    sum = sum + element;\n    counter = counter + 1\n}\nmsg.payload = (sum/counter) | 0\nmsg.debug = { '1': msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1110,
        "wires": [
            [
                "plant8",
                "wave8"
            ]
        ]
    },
    {
        "id": "query8",
        "type": "influxdb in",
        "z": "defe06b98099d327",
        "influxdb": "f31dede1f911c00f",
        "name": "query8",
        "query": "from(bucket: \"iot\")\n  |> range(start: -1m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"moisture\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> filter(fn: (r) => r[\"plant_id\"] == \"8\")\n  |> sort(columns: [\"_time\"], desc: true)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "univaq",
        "x": 240,
        "y": 1110,
        "wires": [
            [
                "function8"
            ]
        ]
    },
    {
        "id": "button_plus8",
        "type": "ui_button",
        "z": "defe06b98099d327",
        "name": "",
        "group": "uigroup8",
        "order": 3,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "+10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#50bf6e",
        "className": "",
        "icon": "fa-arrow-up",
        "payload": "",
        "payloadType": "str",
        "topic": "waterpump/increase/8",
        "topicType": "str",
        "x": 170,
        "y": 1910,
        "wires": [
            [
                "mqtt_out"
            ]
        ]
    },
    {
        "id": "button_minus8",
        "type": "ui_button",
        "z": "defe06b98099d327",
        "name": "",
        "group": "uigroup8",
        "order": 4,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "-10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "#bf5050",
        "className": "",
        "icon": "fa-arrow-down",
        "payload": "",
        "payloadType": "str",
        "topic": "waterpump/decrease/8",
        "topicType": "str",
        "x": 170,
        "y": 1960,
        "wires": [
            [
                "mqtt_out"
            ]
        ]
    },
    {
        "id": "mqtt_out",
        "type": "mqtt out",
        "z": "defe06b98099d327",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "263cb68dcd37c7d7",
        "x": 610,
        "y": 1130,
        "wires": []
    },
    {
        "id": "inject",
        "type": "inject",
        "z": "defe06b98099d327",
        "name": "",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 630,
        "wires": [
            [
                "query1",
                "query2",
                "query3",
                "query4",
                "query5",
                "query6",
                "query7",
                "query8"
            ]
        ]
    },
    {
        "id": "uigroup1",
        "type": "ui_group",
        "name": "Moisture of Plant 1",
        "tab": "b95bdcd246960f21",
        "order": 3,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": "",
        "z": "defe06b98099d327"
    },
    {
        "id": "uigroup2",
        "type": "ui_group",
        "name": "Moisture of Plant 2",
        "tab": "b95bdcd246960f21",
        "order": 3,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": "",
        "z": "defe06b98099d327"
    },
    {
        "id": "uigroup3",
        "type": "ui_group",
        "name": "Moisture of Plant 3",
        "tab": "b95bdcd246960f21",
        "order": 3,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": "",
        "z": "defe06b98099d327"
    },
    {
        "id": "uigroup4",
        "type": "ui_group",
        "name": "Moisture of Plant 4",
        "tab": "b95bdcd246960f21",
        "order": 3,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": "",
        "z": "defe06b98099d327"
    },
    {
        "id": "uigroup5",
        "type": "ui_group",
        "name": "Moisture of Plant 5",
        "tab": "b95bdcd246960f21",
        "order": 3,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": "",
        "z": "defe06b98099d327"
    },
    {
        "id": "uigroup6",
        "type": "ui_group",
        "name": "Moisture of Plant 6",
        "tab": "b95bdcd246960f21",
        "order": 3,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": "",
        "z": "defe06b98099d327"
    },
    {
        "id": "uigroup7",
        "type": "ui_group",
        "name": "Moisture of Plant 7",
        "tab": "b95bdcd246960f21",
        "order": 3,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": "",
        "z": "defe06b98099d327"
    },
    {
        "id": "uigroup8",
        "type": "ui_group",
        "name": "Moisture of Plant 8",
        "tab": "b95bdcd246960f21",
        "order": 3,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": "",
        "z": "defe06b98099d327"
    }
]